@import 'variables';



.settings__container {
  ul {
    li {
      padding: 10px;

      a {
        color: $font-color;
        font-size: 24px;
        font-weight: 400;

        i {

        }

        &:hover {
          color: $link-blue;
        }
      }

      &:hover {
        background-color: #ffffff;
      }
    }
  }
}
  