@import 'variables';




/*                                                   */
/*                CONTENTS -- INTRO                  */
/*                                                   */

.section--overview {

	p {
	  font-weight: 400;
	  font-size: 18px;
	}

	span {
	  font-weight: 600;
	}

	.data {
  		font-size: 56px;
  		line-height: 1.25;

		sub {
		  bottom: 0;
		}
	}
}



/*                                                   */
/*                      POWER BAR                    */
/*                                                   */

.row--powerbar {
  	padding:0 5%;
  	margin: 5px 0 0;

	.label {
	  font-size: 13px;
	  font-weight: 600;

		a {
			i {
			  color:#1199ff;
			  cursor: pointer;
			}
		}
	}

	.powerbar {
	  	width: 100%;
	  	height: 36px;
	  	margin-bottom:10px;

		p {
		  color:#ffffff;
		  font-weight: 600;
		  font-size: 28px;
		  line-height: 38px;
		  white-space: nowrap;
		}

		.bullish {
		  height: 36px;
		  background-color: #009900;
		  float: left;
		  border-radius: 7px 0px 0px 7px;
		  width: 63%;
		}

		.neutral {
		  width: 15%;
		  height: 36px;
		  background-color: #FF9900;
		  float: left;
		  margin: 0 1%;
		}

		.bearish {
		  height: 36px;
		  background-color: #CC0000;
		  float: left;
		  border-radius: 0 7px 7px 0;
		  width: 20%;
		}
	}
}



 
/*     CONTENTS -- MOVERS     */


.section--stockmovements {
  display: block;
  float: left;
}

.section--stockmovements .section__chart {
	margin-bottom: 0;
}

.list-item__mover {
  margin-bottom:15px;
  padding: 0 4%;
}

.mover__stock {
	img {
	  display: flex;
	  float:left;
	  width: 28px;
	  height: auto;
	  margin-right:5px;
	  margin-top: 8px;
	}
	.ticker {
	  display:flex;
	  float:left;
	  font-weight: 700;
	  font-size: 22px;
	  white-space: nowrap;
	}
	.ticker.indice {
	  color:#4718E1;
	}
}

.mover__data {
	.mover__bar {
	  	border-radius: 6px;
	  	height: 30px;

	  	.data {
		  	line-height: 32px;
		  	font-size: 20px;
		  	color:#ffffff;
		  	font-weight: 500;
		  	text-align: right;
		  	margin-right:8px;
		}
	}
	.mover__bar.positive {
	  background: linear-gradient(to right, rgba(0,204,0,1) 0%,rgba(0,170,119,1) 100%);
	}
	.mover__bar.negative {
	  background: linear-gradient(to right, rgba(255,50,50,1) 2%,rgba(170,0,119,1) 100%);
	}
	.mover__bar.indice {
	  background-image: linear-gradient(-50deg, #6B0097 0%, #0096D4 100%);
	}
}







/*     HC -- EARNINGS     */


.earnings__entry {
  	height: 36px;
  	overflow: hidden;
  	margin-bottom: 10px;
  	padding:0 1% 0 3%;

	.pgr {
		img {
		  	width: 28px;
		  	height: auto;
		}
	}

	.ticker {
		p {
		  	font-weight: 700;
		  	font-size: 22px;
		  	line-height: 40px;
		  	text-align: left;
		  	padding-left: 8px;
		}
	}

	.data {
	  font-weight: 500;
	  font-size: 18px;
	  line-height: 40px;
	}
}

.reporting-calendar {
  	padding:0 2% 15px;

	.col-head {
	  	float: left;
	  	width: 20%;

		p {
		  	opacity: 1;
		  	font-weight: 600;
		}
	}

	.calendar__week {
		.cal-day {
		  	float:left;
		  	width: 20%;
		  	background-color: #DEDEDE;
		  	border-radius: 8px;
		  	height: 58px;
		  	border:3px solid #ffffff;
		  	position: relative;
		  	cursor: pointer;

			p {
	  			display: block;
	  			height: 32px;
	  			width: 32px;
	  			background-color: #ffffff;
	  			font-size: 24px;
	  			font-weight: 700;
	  			border-radius: 100%;
	  		}
		}
		.cal-day.green {
		  background: linear-gradient(to right, rgba(0,204,0,1) 0%,rgba(0,170,119,1) 100%);
		}
		.cal-day.red {
		  background: linear-gradient(to right, rgba(255,50,50,1) 2%,rgba(170,0,119,1) 100%);
		}
		.cal-day.blue {
		  background-image: linear-gradient(50deg, #6B0097 0%, #0096D4 100%);
		}
	}
}





/*     HC -- POWERGRID     */


.powerGrid {
  	padding: 0 7%;

	.col-headers {
	  	padding:0;

		p {
		  font-size: 16px;
		  font-weight: 500;
		  opacity: .8;
		}
	}

	.grid__row {
		margin-bottom: 15px;

		.grid__quadrant {
		  	padding: 2px 3px 0;
		  	border-radius: 7px;

			.ticker {
			  	color:#ffffff;
			  	font-weight: 600;
			  	font-size: 20px;
			  	line-height: 40px;
			  	border-bottom: 1px dashed #ffffff;
			  	padding: 5px 0;
			  	overflow: hidden;
			  	text-overflow: ellipsis;
			  	white-space: nowrap;

				&:last-child {
				  border-bottom: 0px dashed #ffffff;
				}
			}

			.industry {
			  	line-height: 40px;
			  	padding: 5px 0;
			  	font-size: 18px;
			  	font-weight: 600;
			  	overflow: hidden;
			  	text-overflow: ellipsis;
			  	white-space: nowrap;
			}
		}
		.grid__quadrant.green {
		  background: linear-gradient(to right, rgba(0,204,0,1) 0%,rgba(0,170,119,1) 100%);
		}
		.grid__quadrant.red {
		  background: linear-gradient(to right, rgba(255,50,50,1) 2%,rgba(170,0,119,1) 100%);
		}
	}
}




