
@import 'variables';






.stock-view__container {
  position: relative;
  background-color: #FFFFFF;
  height: 100%;
  overflow:hidden;
  padding-top:70px;

  	.body__top {
	    background-color: #f8f8f8;
	    height: 70px;
	    position: absolute;
	    top:0;
	    z-index: 1000;
	    width: 100%;
	}

	.body__bottom {
		z-index: 1;
		height: 100%;
		border-top: 3px solid #eeeeee;
	}
}