@import 'variablesPulse';

body {
  height: 100%;
  overflow-x: hidden;
  color:$font-color;
  font-size: 14px;
  background-color: #ffffff;
}

p, a, h1, h2, h3, h4, h5, h6, label, ul, li, table, td, th, tr, button {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

a {
  cursor: pointer;
}

h1 {
  font-size: 32px;
  font-weight: 400;
}
h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 40px 0px 5px;
  color: $font-color;
  line-height: 1;

  @media screen AND (min-width: 767px) {
      font-size: 44px;
  }
}
h3 {
  font-size:24px;
  line-height: 1;
  font-weight: 700;
  margin: 5px 0 3px;
  color: $font-color--mid;
  position: relative;
  text-transform: uppercase;

  span {
    width: 40px;
    height: 40px;
    opacity: 0.2;
    position: absolute;
    left:0;
    top:0px;

    svg {
      height: 40px;
    }
  }
}
h4 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  margin: 15px 0 0;
}
h5 {
}

ul {
  list-style-type: none;
}
button {
  outline: none;
  border:0;
  background: transparent;
  cursor: pointer;
  font-family: $font-stack !important;

  &:focus {
    outline:0;
  }
}
span, button {
  font-family: $font-stack !important;
}
:focus {
  outline: none;
  border:0;
}
::placeholder {
 color: $font-color !important;
 font-size:28px !important;
 line-height: 1.5 !important;
 text-align: center !important;
}
sub {
  bottom:0;
}






/*                                      */
/*               COMMON                 */
/*                                      */


.veryBullish {
  color: $veryBullish-green;
}
.bullish {
  color: $bullish-green;
}
.neutral {
  color: $neutral-yellow;
}
.bearish {
  color: $bearish-red;
}
.veryBearish {
  color: $veryBearish-red;
}


.green, .up-change {
  color:$pulse-green;
}
.red, .down-change {
  color:$pulse-red;
}
.yellow, .hold {
  color:$pulse-yellow;
}
.blue, .ux-blue {
  color:$pulse-blue;
}
.grey {
  color:$font-color--mid;
}

.link-blue {
  color:$link-blue;
}
.greyed-out {
  color:$font-color--light;
}


.grey-scale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%) grayscale(1);
    transition: grayscale 0.4s;
}




.ticker {
  cursor: pointer;
  font-weight: 700;
}

.label {
  font-size: 13px;
  font-weight: 600;
  cursor: default;
  text-transform: uppercase;
  color:$font-color--mid;
}

.chart-caption {
  font-family: $font-stack2;
  font-size: 12px;
  text-align: left;
  font-weight: 400;
  line-height: 1;
  cursor: default;
  font-style: italic;
  margin-top: -5px;
  color: $font-color--mid;
}

.caption {
  font-family: $font-stack2;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 1.5;
  cursor: default;
  font-style: italic;
  color: $font-color--mid;
  margin-bottom: 10px;
}

.empty-chart {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  margin: 20px 0;
  color: $font-color--mid;
  opacity: 0.6;
  cursor: default;
}

.paragraph {
  font-family: $font-stack2;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: 500;
  line-height: 1.66;
  cursor: default;
}

.disclaimer {
  font-family: $font-stack2;
  font-size: 12px;
  margin: 15px 0 25px;
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
  cursor: default;
}



.blur-me {
  filter: grayscale(70%) brightness(15%);
  transition: filter .4s ease-in-out;
  overflow: hidden;
}




/*              NAVIGATION               */

.container--nav {
  position: absolute;
  //background-color: $background--dark;
  background-image: $gradient--pulse-blue;
  height: 100vh;
  color:#ffffff;
  width: 0; /* 0 width - change this with JavaScript */
  z-index: 1000;
  top: 45px;
  right: 0;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: 0.5s;
  box-shadow: -7px 0 20px 0px rgba(0, 0, 0, 0.2);

  @media screen AND (max-width:575px) {
    padding-bottom:25px;
  }

  @media screen AND (max-width:767px) {
    top: 0;
  }

  .nav-list {
    padding:15px 0 0px;

    ul {
      padding:10px 15px;
      margin:0;
      border-top: 2px solid rgba(255,255,255,0.1);

      li {
        padding: 10px 0;

        .nav--toplevel {
          color:#ffffff !important;
          line-height: 1.5;
          text-decoration: none;
          white-space: nowrap;
          font-size: 22px;
          cursor: pointer;
          padding: 0px;

          i {
            color:#ffffff;
            font-size: 28px;
            width: 35px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
          }
        }
      }

      .sub-nav {
        padding: 0px;
        width:290px;

        .nav--sublevel {
          font-size: 16px;
          color:#ffffff !important;
          line-height: 2;
          text-decoration: none;
          white-space: nowrap;
          opacity: 1;
          cursor: pointer;

          @media screen AND (min-width:992px) {
            font-size: 19px;
            margin-left:10px;
            line-height: 2.25;
          }

          i {
            color:#ffffff;
            font-size: 7px;
            display: inline-block;
            vertical-align: middle;

            @media screen AND (min-width:992px) {
              font-size: 10px;
              vertical-align: middle;
            }
          }

          &:hover {
            background-color: rgba(255,255,255,0.2);
          }
        }
      }
    }
  }

  .logo {
    padding:20px 20px 0 15px;
    width: 280px;

    img {
      width: 100%;
     }
  }

  .toc__container {
    width:320px;
    position: relative;
    margin-bottom: 10px;

    .version {
      font-size: 11px;
      line-height: 1.5;
      color: $font-color--mid;
      text-align: right;
      white-space: nowrap;
      cursor: default;
    }

    .toc__link {
      font-size: 13px;
      line-height: 1.5;
      color: #ffffff;
      text-decoration: underline;
      text-align: left;
      opacity:0.7;
      white-space: nowrap;
    }

    @media screen and (min-height:650px) {
      position: absolute;
      bottom: 5px;
    }
  }
}




/*       CONTAINER -- STANDARD PAGE       */

.container--main {
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
  top:0;
  left:0;
  bottom:0;
}
#container--main {
  transition: margin-left .5s, filter .4s ease-in-out;
}
.router__container {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}




/*             PAGE HEADER              */

.page__header {
  position: fixed;
  width: 100%;
  height: 45px;
  color:#ffffff;
  z-index: 100;
  background: $gradient--pulse-grey;

  @media screen AND (min-width:992px) {
    background: transparent;
  }

  .header__title {
    width: 100%;
    position: absolute;

    h1 {
      text-align: center;
      color:#ffffff;
      font-size: 20px;
      line-height: 48px;
      font-weight: 600;
    }
  }

  .header__button {
    position: absolute;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    text-align: center;

    i {
      font-size: 30px;
      color: #ffffff;
      line-height: 45px;
    }
  }
  .header__button--left {
    left:10px;
    transition: left .5s;
    z-index: 13;
  }
  .header__button--right {
    right:10px;
    transition: right .5s;
    z-index: 12;
  }
}
.page__header--green {
  background: $gradient--pulse-green;
}
.page__header--red {
  background: $gradient--pulse-red;
}
.page__header--grey {
  background: $gradient--pulse-grey;
}

.page__header--desktop {
  position: fixed;
  width: 100%;
  height: 90px;
  color: #ffffff;
  z-index: 100;
  background: $background--dark;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);

  @media screen AND (max-width: 991px) {
    display: none;
  }

  .header--first {
    background-color:#ffffff;
    height: 45px;
    overflow: hidden;

    .search--desktop {
      padding:0 10px 0 0;
    }
    .markets--desktop {
      padding:0 15px 0 0;
    }
  }

  .header--second {
    height: 45px;
    overflow: hidden;

    .logo--desktop {
      display: relative;
      padding:0 0px 0 15px;

      img {
        position: absolute;
        height: 34px;
        left:10px;
        top:6px;
      }
    }
    .header__button {
      position: absolute;
      height: 45px;
      z-index: 10;
      cursor: pointer;
      padding-top: 8px;

      img {
        width: auto;
        height: 100%;
      }

      i {
        font-size: 30px;
        color: #ffffff;
      }
    }

    .header__button--left {
    }

    .header__button--right {
      right:15px;
      z-index: 12;
    }

    #desktop-nav__wrapper{
      .mat-button {
        min-width: 150px;
      }
    }
    .desktop-nav {
      ul {
        width: 100%;
        text-align: center;

        li {
          display: inline-block;
          color:#ffffff;
          width: 33%;
          text-align: center;

          .nav--toplevel {
            display: inline-block;
            position: relative;
            width: 90%;
            max-width: 200px;
            min-width: 150px;
            color: #ffffff;
            line-height: 36px;
            height: 37px;
            text-decoration: none;
            white-space: nowrap;
            font-size: 17px;
            cursor: pointer;
            font-weight: 500;
            margin: 4px 0;
            border-radius: 5px;
          }

          i {
            font-size: 24px;
            display: inline-block;
            position: absolute;
            font-weight: 300;
            vertical-align: middle;
            text-align: center;
            left:10px;
            top:6px;

          }
        }

        .active {

          .nav--toplevel {
            font-weight: 600;
            color:$link-blue;
            background-color: rgba(255,255,255,1);
            box-shadow: inset 0 0px 5px 0px rgba(0, 0, 0, 0.3);
            border: 0px solid #fff;

            &:hover {
              background-color: rgba(255,255,255,1);
            } 
          }
        }
      }
    }
  }
}



/*             STOCKVIEW ANCHOR             */

.header__button--anchors {
  position: absolute;
  width: 38%;
  padding-top:9px;
  right: 3%;
  top:0;

  .anchor.mat-raised-button {
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    border-radius: 30px;
    width: 41px;
    min-width: 41px;
    height: 41px;
    color:#ffffff;
    margin: 0 4%;
    border: $line--white;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.1), 
          0 2px 2px 0 rgba(0,0,0,.04), 
          0 1px 3px 0 rgba(0,0,0,0.05);
    transition-property:background-color color border;
    transition-duration: 0.45s;
    transition-timing-function: ease-in-out;

    &:focus {
      box-shadow: 0px 0px 0px rgba(0,0,0,0);
      outline:0;
    }

    &:active {
      box-shadow: 0 -3px 1px -2px rgba(0,0,0,.1), 
          0 -2px 2px 0 rgba(0,0,0,.04), 
          0 -1px 3px 0 rgba(0,0,0,0.05);
    }

    i {
      font-size: 19px;
      line-height: 36px;
    }

    @media screen AND (min-width:1400px) {
      margin: 0 5%;
    }
    @media screen AND (max-width:991px) {
      margin: 0 3%;
    }
  }
  @media screen AND (min-width:1400px) {
    width: 31%;
  }
  @media screen AND (min-width:1280px) {
    width: 33%;
  }
  @media screen AND (max-width:1023px) {
    right: 0;
  }
  @media screen AND (max-width:767px) {
    margin-top:60px;
    width:100%;
    left:0;
    right:0;
    padding-top:2px;

    .anchor.mat-raised-button {
      margin: 0 20px;
    }
  }

  .anchor.mat-raised-button.veryBullish {
    color:rgba(36,163,0,1);
    border: 2px solid rgba(36,163,0,1);

    &:hover {
      color:rgba(255,255,255,1);
      background-color: rgba(36,163,0,1);
    }
  }
  .anchor.mat-raised-button.bullish {
    color:rgba(126,211,33,1);
    border:2px solid rgba(126,211,33,1);

    &:hover {
      color:rgba(255,255,255,1);
      background-color: rgba(126,211,33,1);
    }
  }
  .anchor.mat-raised-button.neutral {
    color:rgba(245,166,35,1);
    border:2px solid rgba(245,166,35,1);

    &:hover {
      background-color: rgba(245,166,35,1);
      color:rgba(255,255,255,1);
    }
  }
  .anchor.mat-raised-button.bearish {
    color:rgba(253,0,31,1);
    border:2px solid rgba(253,0,31,1);

    &:hover {
      background-color: rgba(253,0,31,1);
      color:rgba(255,255,255,1);
    }
  }
  .anchor.mat-raised-button.veryBearish {
    color:rgba(208,2,27,1);
    border:2px solid rgba(208,2,27,1);

    &:hover {
      background-color: rgba(208,2,27,1);
      color:rgba(255,255,255,1);
    }
  }
}





/*          STANDARD COMPONENTS           */


.panel {
  background-color: #ffffff;
  border-radius: 10px;
  border:1px solid #fff;
  padding-bottom:7px;
  position: relative;
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.05);
}


.fixed-button {
  position: fixed;
  right: 2%;
  bottom: 100px;
  z-index: 500;
  width: 80px;
  height: 80px;
  transition: .2s;

  @media screen AND (min-width: 1400px) {
    right: calc(50% - 610px);
  }
  @media screen AND (min-width: 992px) AND (max-width: 1399px) {
    right: calc(50% - 44.5%);
  }
  @media screen AND (max-width: 575px) {
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 60px;

    &:hover {
      bottom: 64px;
    }
  }
  &:hover {
    bottom: 104px;
  }

  button {
    outline: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(84,0,134,0.95) 0%, rgba(17,153,255,0.95) 100%);
    border-radius: 50%;
    border: 0px solid #fff;
    position: relative;
    box-shadow: inset 0 0 0 3px rgba(255,255,255,1), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.04), 0 1px 4px 0 rgba(0, 0, 0, 0.05);

    i {
      font-size: 36px;
      vertical-align: middle;
      color: #ffffff;
      font-weight: 400;
      transition: 0.15s;

      @media screen AND (max-width: 575px) {
        font-size: 24px;
      }
    }

    &:focus {
      outline:0;
    }

    &:hover {
      background-image: linear-gradient(0deg, rgba(84,0,134,0.95) 0%, rgba(17,153,255,0.95) 75%);

      i {
        color: #ffffff;
      }
    }
  }
}




.section__chart {
  margin:15px 0 10px;

  @media screen AND (max-width: 575px) {
    margin:20px 0 10px;
  }
}



.col-headers {
  margin-top: 5px;
  margin-bottom: 5px;

  p {
    font-size: 12px;
    font-weight: 600;
    color: $font-color--mid;
    line-height: 1;
    cursor: default;
  }
}



.section__summary {
  margin: 25px 0 35px;
  height: 56px;
  overflow: hidden;

  p {
    font-size: 64px;
    line-height: 1; 
    font-weight: 400;
    cursor: default;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -7px;
    margin-right: 10%;
    width: 50px;
    height: 50px;
  }

  .summary--left {
    //border-right: $divider--dotted;
  }
  .summary--right {
    border-left: $divider--dotted;
  }
}



.section__toggle {
  margin-top:25px;
  margin-bottom:-5px;

  @media screen AND (min-width: 768px) {
    margin-top: 20px;
  }

  .toggle {

    p {
      font-size: 16px;
      line-height: 1;
      display: inline-block;
      color: $font-color--mid;
      font-weight: 600;
      text-transform: uppercase;
      margin: 10px 0 10px;
      min-width: 100px;
      background-color: #ffffff;
    }

    .toggle__left {
      border-radius: 20px 0px 0px 20px;
      padding:8px 10px 5px 15px;
      cursor: pointer;
      margin-right: -3px;
      box-shadow: inset 0 0px 6px 0px rgba(0, 0, 0, 0.25), inset 0 0px 0px 1px rgba(0, 0, 0, 0.1);
    }

    .toggle__right {
      border-radius: 0px 20px 20px 0;
      padding:8px 15px 5px 10px;
      cursor: pointer;
      margin-left: -3px;
      box-shadow: inset 0 0px 6px 0px rgba(0, 0, 0, 0.25), inset 0 0px 0px 1px rgba(0, 0, 0, 0.1);
    }

    .toggle__only {
      border-radius: 20px;
      padding:8px 15px 5px 15px;
      cursor: default;
    }

    .selected {
      background-color: $font-color;
      color:#ffffff;
      box-shadow: inset 0 0px 6px 0px rgba(0, 0, 0, 0), inset 0 0px 0px 1px rgba(0, 0, 0, 0);
    }
  }
}









/*          EXPAND/COLLAPSE             */

.expand-collapse {
  margin:15px 0 0;
  cursor: pointer;

  p {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    color: $font-color--light;
    text-transform: uppercase;
    cursor: pointer;
  }

  img {
    width: 30px;
    height: 30px;
  }

  i {
    color: $font-color--light;
    display: block;
    clear: both;
  }
  .fa-scrubber {
    font-size: 25px;
    margin-bottom:6px;
  }
  .fa-ellipsis-h {
    font-size: 32px;
  }
}









/*        STOCK LIST ENTRY           */

.stock__list {
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 210px;
  overflow-x: hidden;
  padding-left: 10px;
  padding-right: 10px;

  &::-webkit-scrollbar {
  }

  .col-headers {
    margin-bottom: 5px;
  }

  .list__entry {
    position: relative;
    padding:0;
    cursor: pointer !important;

    .list-entry__pgr {
      position: relative;
      cursor: pointer;
      padding:0;

      img {
        width: 100%;
        max-width: 52px;
      }
    }

    .list-entry__info {
      padding:0;
      cursor: pointer;

      .ticker {
        font-size: 26px;
        font-weight: 700;
        text-align: left;
        white-space: nowrap;
        cursor: pointer;
      }

      .company {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.1;
        text-align: left;
        white-space: nowrap;
        cursor: pointer;
      }
    }

    .list-entry__data {
      cursor: pointer;

      .data {
        font-size: 19px;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .button__slide {
    position: absolute;
    right:5px;
    height: 50px;
    width: 16px;
    text-align: center;
    cursor: pointer;

    i {
      font-size: 32px;
      color: $font-color--mid;
      opacity: 0.33;
      line-height: 50px;
    }
  }
}








/*         MARKET INSIGHTS WORD PRESS            */

.article {
  font-family: $font-stack2 !important;
  color: $font-color;
  font-size: 17px;
  line-height: 1.5;
  text-align: left;
  max-width: 992px;
  margin:-30px auto 25px;

  ul {
    list-style: disc;
    padding: 0 3em 2em;
    margin-top: 0px;

    li {
      padding:5px 0 3px;
      font-size: 16px;

      @media screen AND (min-width: 768px) {
        font-size: 18px;
      }
    }
  }

  h1 {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: left;
    opacity: 1;
    color: $pulse-blue

    &:first-of-type {
      display: none;
    }

    &:nth-first-child(2) {
      margin-bottom:0px
    }

    @media screen AND (min-width: 768px) {
      font-size: 36px;
      line-height: 1.3;
    }
  }

  a {
    text-align: left;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 400;

    &:first-of-type {
      display: none;
    }
  }

  img {
    width: auto;
    height: auto;
    clear: both;
    display: block;
    max-width: 800px;
    margin: 30px auto 15px;

    @media screen AND (max-width:575px) {
      width: 100%;
    }
  }

  img ~ i:first-of-type {
    text-align: center;
    font-size: 13px;
    margin-top:-15px;
  }

  span {
    font-family: $font-stack2 !important;
    display: inline-block;
    color: $font-color;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom:15px;
  }
}






/*         ONBOARDING MODAL            */


.modal-backdrop.show {
    opacity: 0.85;
}

.modal-dialog {
  width:100%;

  @media screen AND (min-width: 768px) {
    width: 800px;
    max-width: 800px;
    margin: 30px auto;
    height: 600px;
  }
  @media screen AND (max-width: 767px) {
    width: 100%;
    min-width: 350px;
    margin: 0px;
    height:100vh;
  }
}
.modal {

  .modal-content {
    width: 800px;
    height: 600px;
    background-color: #fff;
    border: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.66);
    overflow: hidden;

    @media screen AND (max-width: 767px) {
      border-radius: 0;
      height: 100%;
    }

    .modal-header {
      padding: 6px 15px;
      border-bottom: 0px solid #e9ecef;
      text-align: center;
      color:#ffffff;
      background: $gradient--pulse-blue;

      @media screen AND (max-width: 767px) {
        //background-color: #333;
      }

      .modal-title {
        text-align: center;
        margin: 0;
        color:#ffffff;

        @media screen AND (max-width: 767px) {
          color:#ffffff;
        }
      }
      .close {
        opacity: 1;

        i {
          color:#ffffff;
          text-shadow: none;
        }
      }
    }

    .modal-body {
        padding: 0 10px 15px;
        text-align: center;

        img {
          width: 100%;
        }
        .slide-title {
          color: $link-blue;
          font-size: 32px;
          font-weight: 500;
          margin:10px 0 0;
        }
        .link__watch-video {
          font-size: 18px;
          font-weight: 600;
          color:$link-blue;
          margin-top:10px;
          padding-bottom:20px;
        }
    }

    .modal-footer {
      padding: 0;
      height: 50px;
      border-top: 1px solid #ddd;
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      width: 100%;
      background-color: #f8f8f8;

      .pagination {
        border-radius: 0;
        width: 400px;
        margin: 0 auto;

        .page-item {
          color: $font-color;
          margin: 8px 5px;

          .page-link {
            text-align: center;
            margin-left: 0px;
            line-height: 1;
            font-size: 16px;
            border: 0px solid $link-blue;
            border-radius: 30px;
            font-weight: 600;
            background-color: #f8f8f8;

            &:hover {
              background-color: #FFFFFF;
            }

            &:focus {
              box-shadow: 0 0 0 rgba(0,0,0,0);
            }
          }
        }
        .active {
          .page-link {
            color: #ffffff !important;
            background:$gradient--pulse-blue;
            font-weight: 700;

            &:hover {
              background-color: $gradient--pulse-blue !important;
            }
          }
        }
        .disabled {
          .page-link {
            color: #efefef !important;

            &:after {
              color: #efefef !important;
            }
          }
        }
        .disabled.pagination-next {
          .page-link {
            color: #f8f8f8 !important;

            &:after {
              color: #f8f8f8 !important;
            }
          }
        }
        .pagination-prev {
          .page-link {
            font-size: 16px;
            color: $pulse-blue;

            &:hover {
              background-color: #f8f8f8;
            }

            &:after {
                font-family: "Font Awesome 5 Pro";
                content: "\f104 ";
                display: inline-block;
                position: absolute;
                left: -2px;
                top: 6px;
                color: $pulse-blue;
                font-size: 17px;
                vertical-align: middle;
                font-weight: 500;
                opacity:1;
            }
          }
        }
        .pagination-page {
          .page-link {
            color: $font-color--mid;
            width: 32px;
            height: 30px;
            font-size: 16px;
          }
        }
        .pagination-next {
          .page-link {
            color: $pulse-blue;
            font-size: 16px;
            position: relative;

            &:hover {
              background-color: #f8f8f8;
            }

            &:after {
                font-family: "Font Awesome 5 Pro";
                content: "\f105 ";
                display: inline-block;
                position: absolute;
                right: -2px;
                top: 6px;
                color: $pulse-blue;
                font-size: 17px;
                vertical-align: middle;
                font-weight: 500;
                opacity:1;
            }
          }
        }
      }

      .link__get-started {
        position: absolute;
        color: $pulse-blue;
        font-size: 16px;
        right:50%;
        bottom:12px;
        font-weight: 600;
        margin-right:-152px;
        text-align: left;

        &:after {
          font-family: "Font Awesome 5 Pro";
          content: "\f105 ";
          display: inline-block;
          position: absolute;
          right: -14px;
          top: -2px;
          color: $pulse-blue;
          font-size: 17px;
          vertical-align: middle;
          font-weight: 500;
          opacity:1;
        }
      }
    }
  }
}








.show .btn-primary {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
}


.darken {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 500;
  visibility: hidden;
  transition: 0.5s;
}







/*                                      */
/*              DIVIDERS                */
/*                                      */


.divider {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  margin: 10px auto;
  background: $background--lighter;
}

.divider__long {
  width: 90%;
  height: 2px;
  border-radius: 5px;
  margin: 10px auto 20px;
  background: $background--lighter;
}

.divider__full {
  width: 90%;
  height: 2px;
  border-radius: 5px;
  margin: 15px auto;
  background: $background--lighter;
}






/*----------------------------------------------------*\

                     PGR SLIDERS

\*----------------------------------------------------*/

.sliderProgress {
  padding:0;
  height: 16px;
  overflow: hidden;
  border-radius: 8px;
  background: #E3E3E3; /* Old browsers */
  background: -moz-linear-gradient(left, rgba(224, 0, 0, 0.1) 0%, rgba(239, 90, 0, 0.1) 25%, rgba(255, 190, 0, 0.1) 50%, rgba(97, 198, 0, 0.1) 75%, rgba(36, 163, 0, 0.1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(224, 0, 0, 0.1) 0%, rgba(239, 90, 0, 0.1) 25%, rgba(255, 190, 0, 0.1) 50%, rgba(97, 198, 0, 0.1) 75%, rgba(36, 163, 0, 0.1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(224, 0, 0, 0.1) 0%, rgba(239, 90, 0, 0.1) 25%, rgba(255, 190, 0, 0.1) 50%, rgba(97, 198, 0, 0.1) 75%, rgba(36, 163, 0, 0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ae00000', endColorstr='#1a24a300', GradientType=1); /* IE6-9 */
  //border-radius: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.sliderBar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

.sliderBar-container {
  margin-bottom: 15px;
}

.slider-veryBearish {
  background-color: $veryBearish-red;
  left: 0%;
  position: absolute;
  margin-top: -4px;
  margin-left: -px;
  z-index: 1;
  height: 23px;
  width: 23px;
  border-radius: 25px;
  border: 4px solid #ffffff;
}

.slider-bearish {
  background-color: $bearish-red;
  left: 25%;
  position: absolute;
  margin-top: -4px;
  margin-left: -10px;
  z-index: 1;
  height: 23px;
  width: 23px;
  border-radius: 25px;
  border: 4px solid #ffffff;
}

.slider-neutral {
  background-color: $neutral-yellow;
  left: 50%;
  position: absolute;
  margin-top: -4px;
  margin-left: -10px;
  z-index: 1;
  height: 23px;
  width: 23px;
  border-radius: 25px;
  border: 4px solid #ffffff;
}

.slider-bullish {
  background-color: $bullish-green;
  left: 75%;
  position: absolute;
  margin-top: -4px;
  margin-left: -15px;
  z-index: 1;
  height: 23px;
  width: 23px;
  border-radius: 25px;
  border: 4px solid #ffffff;
}

.slider-veryBullish {
  background-color: $veryBullish-green;
  left: 100%;
  position: absolute;
  margin-top: -4px;
  margin-left: -20px;
  z-index: 1;
  height: 23px;
  width: 23px;
  border-radius: 25px;
  border: 4px solid #ffffff;
}

.sliderbar-veryBearish {
  background: #EF5A00;
  background: -moz-linear-gradient(left, #e00000 0%, #ef5a00 100%);
  background: -webkit-linear-gradient(left, #e00000 0%, #ef5a00 100%);
  background: linear-gradient(to right, #e00000 0%, #ef5a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#ef5a00', GradientType=1);
  width: 0%;
}

.sliderbar-bearish {
  background: #ffbe00;
  background: -moz-linear-gradient(left, #e00000 0%, #ef5a00 100%);
  background: -webkit-linear-gradient(left, #e00000 0%, #ef5a00 100%);
  background: linear-gradient(to right, #e00000 0%, #ef5a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#ffbe00', GradientType=1);
  width: 25%;
}

.sliderbar-neutral {
  background: #61C600;
  background: -moz-linear-gradient(left, #e00000 0%, #ef5a00 50%, #ffbe00 100%);
  background: -webkit-linear-gradient(left, #e00000 0%, #ef5a00 50%, #ffbe00 100%);
  background: linear-gradient(to right, #e00000 0%, #ef5a00 50%, #ffbe00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#61c600', GradientType=1);
  width: 50%;
}

.sliderbar-bullish {
  background: #61C600;
  background: -moz-linear-gradient(left, #e00000 0%, #ef5a00 33%, #ffbe00 66%, #61c600 100%);
  background: -webkit-linear-gradient(left, #e00000 0%, #ef5a00 33%, #ffbe00 66%, #61c600 100%);
  background: linear-gradient(to right, #e00000 0%, #ef5a00 33%, #ffbe00 66%, #61c600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#61c600', GradientType=1);
  width: 75%;
}

.sliderbar-veryBullish {
  background: #24a300;
  background: -moz-linear-gradient(left, #e00000 0%, #ef5a00 25%, #ffbe00 50%, #61c600 75%, #24a300 100%);
  background: -webkit-linear-gradient(left, #e00000 0%, #ef5a00 25%, #ffbe00 50%, #61c600 75%, #24a300 100%);
  background: linear-gradient(to right, #e00000 0%, #ef5a00 25%, #ffbe00 50%, #61c600 75%, #24a300 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#24a300', GradientType=1);
  width: 100%;
}





.pgr__label {
  font-size: 14px;
  font-weight: 600;
  height: 16px;
  text-transform: uppercase;
  text-align: left;
  white-space: nowrap;
}

.pgr__label p {
  height: 16px;

  @media screen AND (min-width: 1280px) {
    margin-left:12px;
  }
}










#epsSurprisesChart-graph-id0-plot-1-bl-1-c {
  opacity: 0.4;
}


#epsSurprisesChart-menu-trigger-gear-path,
#qrtEPSChart-menu-trigger-gear-path,
#annualEPSChart-menu-trigger-gear-path,
#annualRevenueChart-menu-trigger-gear-path, {
  fill: $line--chart;
}


#annualEPSChart,
#qrtEPSChart,
#epsSurprisesChart,
#annualRevenueChart  {
  height: 320px;
  overflow: hidden;
}


#mainChart-graph-id1-scale-y-guide-267-path,
#mainChart-graph-id2-scale-y-guide-267-path {
  stroke: none;
}








.component--stockview.bullish {
/*  #mainChart-graph-id0-crosshair-x-path,
  #mainChart-graph-id2-crosshair-x-path,
  #mainChart-graph-id3-crosshair-x-path,
  #mainChart-graph-id4-crosshair-x-path, {
    stroke:$pulse-green__shade2;
  }*/
  #epsSurprisesChart-graph-id0-crosshair-x-path,
  #mainChart-graph-id0-plotset-plot-0-path,
  #epsSurprisesChart-graph-id0-legend-path {
    stroke:$pulse-green;
  }
  #mainChart-graph-id0-scales-bl-0-c,
  #epsSurprisesChart-graph-id0-legend-marker_0-area, {
    path {
      stroke:#E0F9EA;
    }
  }
  #epsSurprisesChart-graph-id0-scales-bl-0-c,
  #annualEPSChart-graph-id0-scales-bl-0-c,
  #qrtEPSChart-graph-id0-scales-bl-0-c,
  #annualRevenueChart-graph-id0-scales-bl-0-c {
    path {
      stroke:$pulse-green;
      stroke-dasharray: (0,0);
      opacity: 0.15;
    }
  }
  #mainChart-graph-id1-scale-y-guide-4-path {
      stroke:$pulse-green;
      stroke-dasharray: (0,0);
      opacity: 0.15;
  }
  #epsSurprisesChart-graph-id0-plot-0-bl-1-c {
    circle {
      fill:$pulse-green;
    }
  }
  #epsSurprisesChart-graph-id0-legend-marker_0-path,
  #mainChart-graph-id0-plotset-plot-0-area-path,
  #annualEPSChart-graph-id0-plotset-plot-0-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-3-node-0-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-0-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-1-path {
    fill:$pulse-green;
  }
  #epsSurprisesChart-graph-id0-hover-c,
  #annualEPSChart-graph-id0-plotset-plot-0-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-3-node-1-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-2-path {
    fill:$pulse-green__shade1;
  }
  #annualEPSChart-graph-id0-plotset-plot-0-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-3-node-2-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-3-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-4-path {
    fill:$pulse-green__shade2;
  }
}


.component--stockview.bearish {
/*  #mainChart-graph-id0-crosshair-x-path,
  #mainChart-graph-id2-crosshair-x-path,
  #mainChart-graph-id3-crosshair-x-path,
  #mainChart-graph-id4-crosshair-x-path, {
    stroke:$pulse-red__shade2;
  }*/
  #mainChart-graph-id1-scale-y-guide-4-path,
  #epsSurprisesChart-graph-id0-crosshair-x-path,
  #mainChart-graph-id0-plotset-plot-0-path,
  #epsSurprisesChart-graph-id0-legend-path {
    stroke:$pulse-red;
  }
  #mainChart-graph-id0-scales-bl-0-c {
    path {
      stroke:#FFEFF1;
    }
  }
  #epsSurprisesChart-graph-id0-scales-bl-0-c,
  #annualEPSChart-graph-id0-scales-bl-0-c,
  #qrtEPSChart-graph-id0-scales-bl-0-c,
  #annualRevenueChart-graph-id0-scales-bl-0-c  {
    path {
      stroke:$pulse-red;
      stroke-dasharray: (0,0);
      opacity: 0.15;
    }
  }
  #mainChart-graph-id1-scale-y-guide-4-path {
      stroke:$pulse-red;
      stroke-dasharray: (0,0);
      opacity: 0.15;
  }
  #epsSurprisesChart-graph-id0-plot-0-bl-1-c {
    circle {
      fill:$pulse-red;
    }
  }
  #epsSurprisesChart-graph-id0-legend-marker_0-path,
  #mainChart-graph-id0-plotset-plot-0-area-path,
  #annualEPSChart-graph-id0-plotset-plot-0-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-3-node-0-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-0-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-1-path {
    fill:$pulse-red;
  }
  #epsSurprisesChart-graph-id0-hover-c,
  #annualEPSChart-graph-id0-plotset-plot-0-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-3-node-1-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-2-path {
    fill:$pulse-red__shade1;
  }
  #annualEPSChart-graph-id0-plotset-plot-0-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-3-node-2-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-3-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-4-path {
    fill:$pulse-red__shade2;
  }
}



.component--stockview.neutral {
/*  #mainChart-graph-id0-crosshair-x-path,
  #mainChart-graph-id2-crosshair-x-path,
  #mainChart-graph-id3-crosshair-x-path,
  #mainChart-graph-id4-crosshair-x-path, {
    stroke:$pulse-yellow__shade2;
  }*/
  #mainChart-graph-id1-scale-y-guide-4-path,
  #epsSurprisesChart-graph-id0-crosshair-x-path,
  #mainChart-graph-id0-plotset-plot-0-path,
  #epsSurprisesChart-graph-id0-legend-path {
    stroke:$pulse-yellow__shade1;
  }
  #mainChart-graph-id0-scales-bl-0-c {
    path {
      stroke:$pulse-yellow__shade1;
      opacity: 0.25;
    }
  }
  #epsSurprisesChart-graph-id0-scales-bl-0-c,
  #annualEPSChart-graph-id0-scales-bl-0-c,
  #qrtEPSChart-graph-id0-scales-bl-0-c,
  #annualRevenueChart-graph-id0-scales-bl-0-c {
    path {
      stroke:$pulse-yellow__shade1;
      stroke-dasharray: (0,0);
      opacity: 0.25;
    }
  }
  #epsSurprisesChart-graph-id0-plot-0-bl-1-c {
    circle {
      fill:$pulse-yellow;
    }
  }
  #mainChart-graph-id1-scale-y-guide-4-path {
      stroke:$pulse-yellow;
      stroke-dasharray: (0,0);
      opacity: 0.15;
  }
  #mainChart-graph-id0-plotset-plot-0-area-path,
  #annualEPSChart-graph-id0-plotset-plot-0-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-3-node-0-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-0-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-1-path {
    fill:$pulse-yellow__shade1;
  }
  #epsSurprisesChart-graph-id0-hover-c,
  #epsSurprisesChart-graph-id0-legend-marker_0-path,
  #annualEPSChart-graph-id0-plotset-plot-0-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-3-node-1-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-2-path {
    fill:$pulse-yellow;
  }
  #annualEPSChart-graph-id0-plotset-plot-0-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-3-node-2-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-3-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-4-path {
    fill:$pulse-yellow__shade2;
  }
}
