@import 'variablesPulse';

body {
  height: 100%;
  overflow-x: hidden;
  color:$font-color;
  font-size: 14px;
  background-color: #ffffff;
}

p, a, h1, h2, h3, h4, h5, h6, label, ul, li, table, td, th, tr, button {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

a {
  cursor: pointer;
}

h1 {
  font-size: 32px;
  font-weight: 400;
}
h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 40px 0px 5px;
  color: $font-color;
  line-height: 1;

  @media screen AND (min-width: 767px) {
      font-size: 44px;
  }
}
h3 {
  font-size:24px;
  line-height: 1;
  font-weight: 700;
  margin: 5px 0 3px;
  color: $font-color--mid;
  position: relative;
  text-transform: uppercase;

  span {
    width: 40px;
    height: 40px;
    opacity: 0.2;
    position: absolute;
    left:0;
    top:0px;

    svg {
      height: 40px;
    }
  }
}
h4 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  margin: 15px 0 0;
}
h5 {
}

ul {
  list-style-type: none;
}
button {
  outline: none;
  border:0;
  background: transparent;
  cursor: pointer;
}
:focus {
  outline: none;
  border:0;
}
::placeholder {
 color: $font-color !important;
 font-size:28px !important;
 line-height: 1.5 !important;
 text-align: center !important;
}
sub {
  bottom:0;
}



/*                                      */
/*               COMMON                 */
/*                                      */


.veryBullish {
  color: $veryBullish-green;
}
.bullish {
  color: $bullish-green;
}
.neutral {
  color: $neutral-yellow;
}
.bearish {
  color: $bearish-red;
}
.veryBearish {
  color: $veryBearish-red;
}


.green, .up-change {
  color:$pulse-green;
}
.red, .down-change {
  color:$pulse-red;
}
.yellow, .hold {
  color:$pulse-yellow;
}
.blue, .ux-blue {
  color:$pulse-blue;
}


.link-blue {
  color:$link-blue;
}
.greyed-out {
  color:$font-color--light;
}












.tab--slide {
  width: 80px;
  height: 5px;
  background-color: $background--light;
  border-radius: 10px;
  margin: 5px auto;
}


.blur-me {
  filter: blur(10px);
  overflow: hidden;
}


.icon__separator {
  opacity: 0.15;
  margin: 0 auto;
  max-width: 32px;

  img, svg {
    width: 100%;
    max-width: 32px;
  }
}






.bold {
  font-weight:600;
}

.bolder {
  font-weight:700;
}

.ticker {
  cursor: pointer;
}

.chart-caption {
  font-family: $font-stack2;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  line-height: 1;
  cursor: default;
  font-style: italic;
  margin-top: -10px;
  color: $font-color--mid;
}

.caption {
  font-family: $font-stack2;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 1.5;
  cursor: default;
  font-style: italic;
  color: $font-color--mid;
  margin-bottom: 10px;
}

.empty-chart {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  margin: 20px 0;
  color: $font-color;
  opacity: 0.6;
  cursor: default;
}


.paragraph {
  font-family: $font-stack2;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: 500;
  line-height: 1.66;
  cursor: default;
}


.disclaimer {
  font-family: $font-stack2;
  font-size: 12px;
  margin: 15px 0 25px;
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
  cursor: default;
}






/*                                      */
/*              DIVIDERS                */
/*                                      */


.divider {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  margin: 10px auto;
  background: $background--verylight;
}

.divider__long {
  width: 60%;
  height: 3px;
  border-radius: 5px;
  margin: 10px auto 20px;
  background: $background--verylight;
}

.divider__full {
  width: 90%;
  height: 3px;
  border-radius: 5px;
  margin: 15px auto;
  background: $background--verylight;
}

.divider__long--green {
  background: $gradient--pulse-green;
  width: 90%;
  margin: 15px auto;
  height: 3px;
  border-radius: 5px;
  opacity: .8;
}

.divider__long--red {
  background-image:  $gradient--pulse-red;
  width: 90%;
  margin: 15px auto;
  height: 3px;
  border-radius: 5px;
  opacity: .8;
}

.divider__long--yellow {
  background-image: $gradient--pulse-yellow;
  width: 90%;
  margin: 15px auto;
  height: 3px;
  border-radius: 5px;
  opacity: .9;
}

.divider__long--blue {
  background-image: $gradient--pulse-blue;
  width: 90%;
  margin: 15px auto;
  height: 3px;
  border-radius: 5px;
  opacity: .8;
}






/*                                                   */
/*           CONTAINER -- STANDARD PAGE              */
/*                                                   */


.container--main {
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
  top:0;
  left:0;
  bottom:0;
}
#container--main {
  transition: margin-left .5s;
}
.router__container {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}








/*              NAVIGATION               */


.container--nav {
  position: absolute;
  background-color: $background--dark;
  height: 100vh;
  color:#ffffff;
  width: 0; /* 0 width - change this with JavaScript */
  z-index: 1000;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: -7px 0 20px 0px rgba(0, 0, 0, 0.2);

  .nav-list {
    padding:15px 0;

    ul {
      padding:10px 20px;
      margin:0;
      border-top: 2px solid rgba(255,255,255,0.1);

      li {
        padding: 10px 0;

        .nav--toplevel {
          color:#ffffff !important;
          line-height: 1.5;
          text-decoration: none;
          white-space: nowrap;
          font-size: 22px;
          cursor: pointer;

          i {
            color:#ffffff;
            font-size: 28px;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }

      .sub-nav {
        padding: 0px;
        width:330px;

        .nav--sublevel {
          font-size: 16px;
          color:#ffffff !important;
          line-height: 2;
          text-decoration: none;
          white-space: nowrap;
          opacity: 1;
          cursor: pointer;

          @media screen AND (min-width:992px) {
            font-size: 19px;
            margin-left:10px;
            line-height: 2.25;
          }

          i {
            color:#ffffff;
            font-size: 8px;
            display: inline-block;
            vertical-align: middle;

            @media screen AND (min-width:992px) {
              font-size: 11px;
              vertical-align: middle;
            }
          }

          &:hover {
            background-color: rgba(255,255,255,0.2);
          }
        }
      }
    }
  }

  .logo {
    padding:20px 20px 0 18px;
    width: 280px;

    img {
      width: 100%;
     }
  }

  .toc__container {
    position: absolute;
    bottom: 15px;
    width:295px;

    .version {
      font-size: 11px;
      line-height: 1.5;
      color: $font-color--mid;
      text-align: right;
      white-space: nowrap;
      cursor: default;
    }

    .toc__link {
      font-size: 13px;
      line-height: 1.5;
      color: $link-blue;
      text-decoration: none;
      text-align: left;
      white-space: nowrap;
    }
  }
}








/*             PAGE HEADER              */


.page__header {
  position: fixed;
  width: 100%;
  height: 45px;
  color:#ffffff;
  z-index: 100;
  background: $gradient--pulse-grey;

  @media screen AND (min-width:992px) {
    background: transparent;
  }

  .header__title {
    width: 100%;
    position: absolute;

    h1 {
      text-align: center;
      color:#ffffff;
      font-size: 20px;
      line-height: 48px;
      font-weight: 600;
    }
  }

  .header__button {
    position: absolute;
    height: 60%;
    z-index: 10;
    cursor: pointer;
    margin: .6em .7em;

    img {
      width: auto;
      height: 100%;
    }
  }
  .header__button--left {
    left:1em;
    transition: left .5s;
    z-index: 13;

    img {
      height: 90%;
    }
  }
  .header__button--right {
    right:1em;
    transition: right .5s;
    z-index: 12;
  }
}

.page__header--desktop {
  position: fixed;
  width: 100%;
  height: 45px;
  color: #ffffff;
  z-index: 100;
  background: $background--dark;
  box-shadow: 0px 2px 0px 0px rgba(255,255,255,1);

  @media screen AND (max-width: 991px) {
    display: none;
  }

  .logo--desktop {
    display: relative;

    img {
      position: absolute;
      height: 34px;
      left:10px;
      top:6px;
    }
  }

  .header__button {
    position: absolute;
    height: 60%;
    z-index: 10;
    cursor: pointer;
    margin: .6em .7em;

    img {
      width: auto;
      height: 100%;
    }
  }

  .header__button--left {
    right: calc(8% + 60px);
    z-index: 13;

    img {
    }
  }

  .header__button--right {
    right:8%;
    z-index: 12;
  }

  .desktop-nav {
    ul {
      width: 100%;
      text-align: center;

      li {
        display: inline-block;
        color:#ffffff;
        width: 33%;
        text-align: center;

        .nav--toplevel {
          display: block;
          color: #ffffff;
          line-height: 48px;
          height: 45px;
          text-decoration: none;
          white-space: nowrap;
          font-size: 17px;
          cursor: pointer;
          font-weight: 500;
          margin: 0;
        }
      }

      .active {

        .nav--toplevel {
          font-weight: 600;
          color:$font-color;
          background-color: #ffffff;
        }

        i {
          color:$link-blue;
        }
      }
    }
  }
}

.page__header--green {
  background: $gradient--pulse-green;
}

.page__header--red {
  background: $gradient--pulse-red;
}

.page__header--grey {
  background: $gradient--pulse-grey;
}








/*             SEARCH COMPONENT               */


.header__search {

  .form-inline {
    height: 100%;
    padding: 0 13%;

    @media screen AND (min-width: 992px) {
      padding:0;
    }
  }
}

.search {
  display: none;
  width: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}
.search:focus {
  width: 200px;
}








/*          STANDARD COMPONENTS           */


.col-headers {
  margin-top: 5px;
  margin-bottom: 5px;

  p {
    font-size: 12px;
    font-weight: 600;
    color: $font-color--light;
    line-height: 1;
    cursor: default;
  }
}






.section__chart {
  margin:25px 0 40px;

  @media screen AND (max-width: 575px) {
    margin:25px 0 10px;
  }
}





.section__summary {
  margin: 35px 0;
  height: 56px;
  overflow: hidden;

  p {
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
    cursor: default;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -7px;
    margin-right: 10%;
    width: 50px;
    height: 50px;
  }

  .summary--left {
    //border-right: $divider--dotted;
  }
  .summary--right {
    border-left: $divider--dotted;
  }
}





.section__toggle {
  margin-top:25px;
  margin-bottom:-10px;


  @media screen AND (min-width: 768px) {
    margin-top: 20px;
  }

  .toggle {

    p {
      font-size: 16px;
      line-height: 1;
      font-weight: 700;
      display: inline-block;
      color: $font-color--light;
      font-weight: 600;
      text-transform: uppercase;
      margin: 10px 0 10px;
    }

    .toggle__left {
      border-radius: 20px 0px 0px 20px;
      padding:8px 10px 5px 15px;
      cursor: pointer;
    }

    .toggle__right {
      border-radius: 0px 20px 20px 0;
      padding:8px 15px 5px 10px;
      cursor: pointer;
    }

    .toggle__only {
      border-radius: 20px;
      padding:8px 15px 5px 15px;
      cursor: default;
    }

    .selected {
      background-color: $font-color;
      color:#ffffff;
    }
  }
}









/*        STOCK LIST ENTRY           */


.stock__list {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 145px;
  overflow-x: hidden;
  padding-left: 10px;
  padding-right: 10px;

  &::-webkit-scrollbar {
    display:none;
  }

  @media screen AND (max-width: 375px) {
    padding-bottom: 175px;
  }

  .col-headers {
    margin-bottom: 5px;
  }

  .list__entry {
    position: relative;
    padding-top:7px;
    padding-bottom:7px;
    cursor: pointer !important;

    .list-entry__pgr {
      position: relative;
      cursor: pointer;

      img {
        width: 70%;
        max-width: 60px;
      }
    }

    .list-entry__info {
      padding:0;
      cursor: pointer;

      .ticker {
        font-size: 28px;
        font-weight: 700;
        line-height: 1;
        text-align: left;
        white-space: nowrap;
        cursor: pointer;
      }

      .company {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
        text-align: left;
        white-space: nowrap;
        cursor: pointer;
      }
    }

    .list-entry__data {
      cursor: pointer;

      .data {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 1;
        cursor: pointer;
      }
    }
  }
}
.button__slide {
  position: absolute;
  right:3%;
  top:20px;
  cursor: pointer;
}




.list-entry__overlay {
  display: none;
  position: absolute;
  top:0px;
  left:0;
  width: 100%;
  background: $gradient--pulse-grey;
  padding:0;
}
.list-entry__overlay.show {
  display:block;
}
.list-entry__overlay.red {
  background: $gradient--pulse-red;
}
.list-entry__overlay.green {
  background: $gradient--pulse-green;
}
.list-entry__overlay.yellow {
  background: $gradient--pulse-yellow;
}
.overlay__contents {
  height: 68px;

  .ticker {
    font-weight: 600;
    font-size: 36px;
    line-height: 72px;
    color:#ffffff;
    text-align: left;
  }

  .data {
    font-weight: 400;
    font-size: 34px;
    line-height: 72px;
    color:#ffffff;
    text-align: left;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .button__slide {
    position: absolute;
    right:3%;
    top:15px;
    cursor: pointer;
  }
}








/*          EXPAND/COLLAPSE             */


.expand-collapse {
  margin:10px 0 0;
  cursor: pointer;

  p {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    color: $font-color--light;
    text-transform: uppercase;
    cursor: pointer;
  }

  img {
    width: 30px;
    height: 30px;
  }
}







/*         MARKET INSIGHTS WORD PRESS            */


.article {
  font-family: $font-stack;
  color: $font-color;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin:-25px 0 25px;

  ul {
      list-style: disc;
      padding: 0 2em 2em;
      margin-top: -16px;

      li {
        padding:5px 0 3px;
        font-size: 16px;

        @media screen AND (min-width: 768px) {
          font-size: 18px;
        }
      }
  }
  h1 {
      font-weight: 300;
      font-size: 30px;
      line-height: 1.2;
      margin-top: 15px;
      margin-bottom: 0px;
      text-align: left;
      opacity: 1;
      color: $pulse-blue;

      @media screen AND (min-width: 768px) {
        font-size: 36px;
        line-height: 1.5;
      }
  }
  a {
    text-align: left;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 400;
  }
  img {
    width: auto;
    height: auto;
    clear: both;
    display: block;
    max-width: 992px;
    margin: 20px auto 10px;

    @media screen AND (max-width:575px) {
      width: 100%;
    }
  }
  span {
    font-family: $font-stack2;
    color: $font-color;
    font-size: 16px;
    line-height: 1.5;
  }
}











.show .btn-primary {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
}


.darken {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 500;
  visibility: hidden;
  transition: 0.5s;
}





/*----------------------------------------------------*\

                     PGR SLIDERS

\*----------------------------------------------------*/

.sliderProgress {
  padding:0;
  height: 16px;
  overflow: hidden;
  border-radius: 8px;
  background: #E3E3E3; /* Old browsers */
  background: -moz-linear-gradient(left, rgba(224, 0, 0, 0.1) 0%, rgba(239, 90, 0, 0.1) 25%, rgba(255, 190, 0, 0.1) 50%, rgba(97, 198, 0, 0.1) 75%, rgba(36, 163, 0, 0.1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(224, 0, 0, 0.1) 0%, rgba(239, 90, 0, 0.1) 25%, rgba(255, 190, 0, 0.1) 50%, rgba(97, 198, 0, 0.1) 75%, rgba(36, 163, 0, 0.1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(224, 0, 0, 0.1) 0%, rgba(239, 90, 0, 0.1) 25%, rgba(255, 190, 0, 0.1) 50%, rgba(97, 198, 0, 0.1) 75%, rgba(36, 163, 0, 0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ae00000', endColorstr='#1a24a300', GradientType=1); /* IE6-9 */
  //border-radius: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.sliderBar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

.sliderBar-container {
  margin-bottom: 15px;
}

.slider-veryBearish {
  background-color: $veryBearish-red;
  left: 0%;
  position: absolute;
  margin-top: -4px;
  margin-left: -px;
  z-index: 1;
  height: 23px;
  width: 23px;
  border-radius: 25px;
  border: 4px solid #ffffff;
}

.slider-bearish {
  background-color: $bearish-red;
  left: 25%;
  position: absolute;
  margin-top: -4px;
  margin-left: -10px;
  z-index: 1;
  height: 23px;
  width: 23px;
  border-radius: 25px;
  border: 4px solid #ffffff;
}

.slider-neutral {
  background-color: $neutral-yellow;
  left: 50%;
  position: absolute;
  margin-top: -4px;
  margin-left: -10px;
  z-index: 1;
  height: 23px;
  width: 23px;
  border-radius: 25px;
  border: 4px solid #ffffff;
}

.slider-bullish {
  background-color: $bullish-green;
  left: 75%;
  position: absolute;
  margin-top: -4px;
  margin-left: -15px;
  z-index: 1;
  height: 23px;
  width: 23px;
  border-radius: 25px;
  border: 4px solid #ffffff;
}

.slider-veryBullish {
  background-color: $veryBullish-green;
  left: 100%;
  position: absolute;
  margin-top: -4px;
  margin-left: -20px;
  z-index: 1;
  height: 23px;
  width: 23px;
  border-radius: 25px;
  border: 4px solid #ffffff;
}

.sliderbar-veryBearish {
  background: #EF5A00;
  background: -moz-linear-gradient(left, #e00000 0%, #ef5a00 100%);
  background: -webkit-linear-gradient(left, #e00000 0%, #ef5a00 100%);
  background: linear-gradient(to right, #e00000 0%, #ef5a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#ef5a00', GradientType=1);
  width: 0%;
}

.sliderbar-bearish {
  background: #ffbe00;
  background: -moz-linear-gradient(left, #e00000 0%, #ef5a00 100%);
  background: -webkit-linear-gradient(left, #e00000 0%, #ef5a00 100%);
  background: linear-gradient(to right, #e00000 0%, #ef5a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#ffbe00', GradientType=1);
  width: 25%;
}

.sliderbar-neutral {
  background: #61C600;
  background: -moz-linear-gradient(left, #e00000 0%, #ef5a00 50%, #ffbe00 100%);
  background: -webkit-linear-gradient(left, #e00000 0%, #ef5a00 50%, #ffbe00 100%);
  background: linear-gradient(to right, #e00000 0%, #ef5a00 50%, #ffbe00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#61c600', GradientType=1);
  width: 50%;
}

.sliderbar-bullish {
  background: #61C600;
  background: -moz-linear-gradient(left, #e00000 0%, #ef5a00 33%, #ffbe00 66%, #61c600 100%);
  background: -webkit-linear-gradient(left, #e00000 0%, #ef5a00 33%, #ffbe00 66%, #61c600 100%);
  background: linear-gradient(to right, #e00000 0%, #ef5a00 33%, #ffbe00 66%, #61c600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#61c600', GradientType=1);
  width: 75%;
}

.sliderbar-veryBullish {
  background: #24a300;
  background: -moz-linear-gradient(left, #e00000 0%, #ef5a00 25%, #ffbe00 50%, #61c600 75%, #24a300 100%);
  background: -webkit-linear-gradient(left, #e00000 0%, #ef5a00 25%, #ffbe00 50%, #61c600 75%, #24a300 100%);
  background: linear-gradient(to right, #e00000 0%, #ef5a00 25%, #ffbe00 50%, #61c600 75%, #24a300 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#24a300', GradientType=1);
  width: 100%;
}





.pgr__label {
  font-size: 14px;
  font-weight: 600;
  height: 16px;
  text-transform: uppercase;
  text-align: left;
  white-space: nowrap;
}

.pgr__label p {
  height: 16px;

  @media screen AND (max-width: 349px) {
    margin-left:0px;
  }
}









#epsSurprisesChart-menu-trigger-gear-path,
#qrtEPSChart-menu-trigger-gear-path,
#annualEPSChart-menu-trigger-gear-path,
#annualRevenueChart-menu-trigger-gear-path, {
  fill: $line--chart;
}


#annualEPSChart,
#qrtEPSChart,
#epsSurprisesChart,
#annualRevenueChart  {
  height: 400px;
  overflow: hidden;
}



#mainChart-graph-id1-scale-y-guide-267-path {
  stroke: none;
}




.component--stockview.bullish {

  #mainChart-graph-id0-plotset-plot-0-path,
  #epsSurprisesChart-graph-id0-legend-path {
    stroke:$pulse-green;
  }
  #mainChart-graph-id0-scales-bl-0-c {
    path {
      stroke:#E0F9EA;
    }
  }
  #epsSurprisesChart-graph-id0-scales-bl-0-c,
  #annualEPSChart-graph-id0-scales-bl-0-c,
  #qrtEPSChart-graph-id0-scales-bl-0-c,
  #annualRevenueChart-graph-id0-scales-bl-0-c {
    path {
      stroke:$pulse-green;
      stroke-dasharray: (0,0);
      opacity: 0.15;
    }
  }
  #epsSurprisesChart-graph-id0-plot-1-bl-1-c {
    circle {
      fill:$pulse-green;
      opacity: 0.85;
    }
  }
  #epsSurprisesChart-graph-id0-legend-marker_1-path,
  #mainChart-graph-id0-plotset-plot-0-area-path,
  #annualEPSChart-graph-id0-plotset-plot-0-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-3-node-0-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-0-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-1-path {
    fill:$pulse-green;
  }
  #annualEPSChart-graph-id0-plotset-plot-0-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-3-node-1-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-2-path {
    fill:$pulse-green__shade1;
  }
  #annualEPSChart-graph-id0-plotset-plot-0-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-3-node-2-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-3-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-4-path {
    fill:$pulse-green__shade2;
  }
}


.component--stockview.bearish {

  #mainChart-graph-id0-plotset-plot-0-path,
  #epsSurprisesChart-graph-id0-legend-path {
    stroke:$pulse-red;
  }
  #mainChart-graph-id0-scales-bl-0-c {
    path {
      stroke:#FFEFF1;
    }
  }
  #epsSurprisesChart-graph-id0-scales-bl-0-c,
  #annualEPSChart-graph-id0-scales-bl-0-c,
  #qrtEPSChart-graph-id0-scales-bl-0-c,
  #annualRevenueChart-graph-id0-scales-bl-0-c  {
    path {
      stroke:$pulse-red;
      stroke-dasharray: (0,0);
      opacity: 0.15;
    }
  }
  #epsSurprisesChart-graph-id0-plot-1-bl-1-c {
    circle {
      fill:$pulse-red;
      opacity: 0.85;
    }
  }
  #epsSurprisesChart-graph-id0-legend-marker_1-path,
  #mainChart-graph-id0-plotset-plot-0-area-path,
  #annualEPSChart-graph-id0-plotset-plot-0-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-0-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-0-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-1-path {
    fill:$pulse-red;
  }
  #annualEPSChart-graph-id0-plotset-plot-0-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-1-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-2-path {
    fill:$pulse-red__shade1;
  }
  #annualEPSChart-graph-id0-plotset-plot-0-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-2-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-3-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-4-path {
    fill:$pulse-red__shade2;
  }
}



.component--stockview.neutral {

  #mainChart-graph-id0-plotset-plot-0-path,
  #epsSurprisesChart-graph-id0-legend-path {
    stroke:$pulse-yellow__shade1;
  }
  #mainChart-graph-id0-scales-bl-0-c {
    path {
      stroke:$pulse-yellow__shade1;
      opacity: 0.25;
    }
  }
  #epsSurprisesChart-graph-id0-scales-bl-0-c,
  #annualEPSChart-graph-id0-scales-bl-0-c,
  #qrtEPSChart-graph-id0-scales-bl-0-c,
  #annualRevenueChart-graph-id0-scales-bl-0-c {
    path {
      stroke:$pulse-yellow__shade1;
      stroke-dasharray: (0,0);
      opacity: 0.25;
    }
  }
  #epsSurprisesChart-graph-id0-plot-1-bl-1-c {
    circle {
      fill:$pulse-yellow;
      opacity: 0.95;
    }
  }
  #mainChart-graph-id0-plotset-plot-0-area-path,
  #annualEPSChart-graph-id0-plotset-plot-0-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-0-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-0-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-0-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-1-path {
    fill:$pulse-yellow__shade1;
  }
  #annualEPSChart-graph-id0-plotset-plot-0-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-1-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-1-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-2-path {
    fill:$pulse-yellow;
  }
  #epsSurprisesChart-graph-id0-legend-marker_1-path,
  #annualEPSChart-graph-id0-plotset-plot-0-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-0-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-1-node-2-path,
  #qrtEPSChart-graph-id0-plotset-plot-2-node-2-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-3-path,
  #annualRevenueChart-graph-id0-plotset-plot-0-node-4-path {
    fill:$pulse-yellow__shade2;
  }
}
