@import 'variables';

.sidebar__logo {
	position: relative;
	height: 55px;

	img {
		width: 149px;
		height: 20px;
	}
}

.tagline {
	width: 100%;
	height: 25px;
	margin-bottom: 28px;

	p {
		font-weight: 300;
		font-size: 17px;
		color: #FFFFFF;
		text-align: center;
	}
}
