@import 'variables';


.modal-content--idealist {
  height: 600px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0px 10px 65px 10px rgba(0, 0, 0, 0.6);

  .modal-head {
    border-bottom:1px solid #eeeeee;

    h2 {
      margin:15px 0 15px 15px;
    }
    .modal-head__button {
      float: right;
      margin:22px 15px 0 0;
      background-color: transparent;

      a {
        color:$font-color--MD;
        cursor: pointer;

        &:hover {
          color:$link-blue;
        }
      }
    }
  }

  .modal__body {
    padding: 0px;
    overflow:hidden;

    .idea-list__container {
      height: 100%;
      padding:0 10px;
      overflow-y: scroll;

      .idea-list__left-col {
        background-color: transparent;
        height: 100%;
        float: left;
        border-right:1px solid #eeeeee;

        .idea-list__list {
          width: 100%;
          padding: 15px 0px 0;

          .list__option {
            position: relative;
            height: 65px;
            vertical-align: top;
            cursor: pointer;

            .list__image {
              width: 40px;
              height: 40px;
              position: relative !important;
              margin: 0px 12px 0 5px;
              border-radius: 25px;
              background-image: linear-gradient(135deg, #EC2E2E 0%, #A01861 100%);
              float:left;

              img {
                width: 30px;
                height: 30px;
                margin: 5px;
              }
            }

            .list__label {
              float:left;
              font-size: 17px;
              line-height: 38px;
              font-weight: 400;
              padding: 0px;
              white-space: nowrap;
            }

            &:hover {

              .list__image {
                transform: scale(1.1);
              }

              .list__label {
                font-weight: 600;

                &:after {
                  content: ' →';
                }
              }
            }
          }

          .list__option.selected {
            .list__image {
              transform: scale(1.1);
            }

            .list__label {
              font-weight: 600;

              &:after {
                content: ' →';
              }
            }
          }
        }
      }

      .idea-list__right-col {
        float: left;
        padding:20px 30px;

        .idea-list__descriptions {

          .list-description__header {
            height: 40px;
            margin-bottom:20px;
            overflow:hidden;

            img {
              height: 40px;
              width: auto;
              float: left;
              margin-right:15px;
            }

            h3 {
              float:left;
              font-weight: 400;
              color:#D0021B;
              line-height: 1.25;
              white-space: nowrap;
            }

            .post-head__button {
              float:right;
              height: 40px;
              padding:10px 0 0 20px;
              border-left: 4px dotted rgba(100, 100, 100, 0.15);
              cursor: pointer;

              i {
                color: $link-blue;
                font-size: 19px;
                display: inline-block;
                vertical-align: middle;
              }

              span {
                font-size: 13px;
                display: inline-block;
                vertical-align: middle;
              }
            }
          }

          .list-description__body {

            .body__section {
              padding-bottom: 15px;
              border-bottom: 2px solid #eeeeee;
              margin-bottom: 45px;

              h6 {
                font-weight: 600;
                line-height: 1.4;
                margin-bottom: 10px;
                color: $font-color;
              }

              p {
                font-size: 14px;
                line-height: 1.45;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}
