@import 'variables';





.idea-lists__component {
	margin-top:15px;

	.idea-lists__header {
		height: 50px;

		h1 {
			display: block;
			float: left;
		}

	    .divider-h {
	      display: block;
	      float: left;
	      border-left: 1px dashed rgba(0,0,0,0.3);
	      height: 50px;
      	  margin:0px 50px;
	    }

		a {
			color: $link-blue;
			cursor: pointer;
			font-size: 18px;
			font-weight: 600;
			line-height: 50px;
		}
	}

	.idea-lists__container {
		overflow: hidden;
		overflow-x: scroll;

		ul {
		    width: 100%;
		    list-style-type: none;
		    margin: auto;
		    white-space: nowrap;
		    margin-top: 0px;
		    padding-top: 20px;

			.list__option {
				display: inline-block;
				position: relative;
				height: 150px;
				vertical-align: top;

				.list__image {
					width: 80px;
					height: 80px;
					position: relative !important;
					margin: 10px 15px 10px;
					border-radius: 40px;
					background-image: linear-gradient(135deg, #EC2E2E 0%, #A01861 100%);

					.close {
						float: right;
						font-size: 10px;
						line-height: 1;
						color: $font-color !important;
						text-shadow: 0 0 0 #fff !important;
						opacity: .4;
						margin: -2px -2px 0 0;

						&:hover {
							opacity: .6;
						}
					}

					img {
						width: 66px;
						height: 66px;
						margin: 7px;
					}
				}

				.list__label {
					font-size: 12px;
					line-height: 1.4;
					text-align: center;
					font-weight: 600;
					width: 110px;
					padding: 0px 10px;
					white-space: normal;
				}

				&:hover {

					.list__image {
						transform: scale(1.1);
					}
				}
			}
		}
	}

	.idea-lists__footer {
		p {
			font-size: 12px;
			font-weight: 300;
		}
	}
}


