@import 'variables';


.insights__container {
	padding: 0 4% 0 2%;

	.post-head {
		margin:10px 0 25px;

	    .post-head__logo {
		    img {
		        width: 280px;
		        height: auto;
		    }
	    }
	    .post-head__date {
	      	text-align: right;

	      	p {
	      		color: #FD001F;
	      		font-weight: 700;
	      		font-size: 14px;
	      	}
	    }
	    .post-head__button {
	      	font-weight: 400;
	      	font-size: 26px;
	      	height: 45px;
	      	padding: 11px 15px;
	      	color: #ffffff;

	      	i {
	        	font-size: 20px;
	      	}

	      	span {
	        	margin-left: 3px;
	      	}
	    }
	}

	.post-body.post-body--insights {
		.headline {
			max-height: 155px;
			overflow: hidden;
			display: -webkit-box;
			max-width: 100%;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;

			h1 {
				color: #ffffff;
				font-size: 38px;
				font-weight: 300;
				line-height: 1.3;
			}
		}

		p.post-author {
			color: #ffffff;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.5;
		}
	}

	.link__read-all {
		margin-top: 30px;
		color:#1199ff;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.3;
	}
}