@import 'variables';


.insights__container {
	padding: 0 15px;

	.post-head {
		margin-bottom:20px;

	    h2 {
	      	color:#ffffff;
	    }
	    .post-head__logo {
		    img {
		        width: 280px;
		        height: auto;
		    }
	    }
	    .post-head__date {
	      	color: #FFFFFF;
	      	text-align: right;

	      	p {

	      	}
	    }
	    .post-head__button {
	      	font-weight: 400;
	      	font-size: 11px;
	      	height: 37px;
	      	padding: 11px 15px;
	      	color: #ffffff;

	      	i {
	        	font-size: 16px;
	      	}

	      	span {
	        	margin-left: 3px;
	      	}
	    }
	}

	.post-body.post-body--insights {

	}

	.link__read-all {
		color:#CF263E;
		font-weight: 700;
		font-size: 16px;
	}
}