@import 'variables';


/*         NAV CONTAINER           */


.container--nav {
  position: absolute;
  background-color: #484848;
  height: 100vh;
  color:#ffffff;
  width: 0; /* 0 width - change this with JavaScript */
  z-index: 1000;
  top: 0;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: -7px 0 20px 0px rgba(0, 0, 0, 0.2);

  .nav-list {
    padding:15px 0;

    ul {
      padding:15px 20px;
      margin:0;
      border-top: 2px solid rgba(255,255,255,0.1);

      li {
        height:60px;
        font-size: 22px;

        a {
          color:#ffffff !important;
          line-height: 60px;
          text-decoration: none;
          white-space: nowrap;

          i {
            color:#ffffff;
            font-size: 28px;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .logo {
    padding:30px 20px 0 20px;
  }
}