@import 'variablesPulse';



.component--healthcheck {
	background-color:$background--verylight;
	position: relative;
	height: 100%;
}


.HC-overview {
	width: 100%;
	margin:0;
	padding:0;
}

.HC-panel__padding {
	padding-left:10px;
	padding-right: 10px;
}





/*                                                   */
/*                CONTENTS -- INTRO                  */
/*                                                   */

.section--overview {
  	color:#ffffff;
	padding-top:90px;
	background: $gradient--pulse-grey;

	@media screen AND (max-width: 991px) {
		padding-top:45px;
	}

	.overview__summary {
		margin:0 auto;
		position: relative;
		padding: 10px 0px;
		max-width: 1024px;

      	.timespan {
      		font-size: 14px;
	      	line-height: 1.1;
	      	font-weight: 600;
			text-transform: uppercase;
      		display: block;
      		letter-spacing: 0.05em;
      		cursor: default;
      	}

		.btn-group {
			margin-top: 7px;
			margin-bottom: 2px;
			cursor: pointer;
			z-index: 20;
			min-width: 200px;

			.btn-primary {
				text-align: center;
				height:50px;
			    border: 0;
			    padding: 0px 40px 0px 6px;
			    border-radius: 8px;
			    border-bottom:0px;
				cursor: pointer;
		  		background-color: transparent;
			    font-size: 30px;
			    line-height: 50px;
				color: #ffffff;
				box-shadow: inset 0 0px 20px 2px rgba(0, 0, 0, 0.1);
				z-index: 20;
			    font-weight: 600;

			    &:hover {
			    	box-shadow: inset 0 0px 20px 2px rgba(0, 0, 0, 0.25);
			    	//background-color: rgba(255,255,255,0.0625);
			    }
			}
			.dropdown-toggle {
				min-width: 200px;

			    &:after {
					content:  none;
			    }
			}
			&:after {
			    font-family: "Font Awesome 5 Pro";
			    content: "\f078 ";
			    display: inline-block;
			    position: absolute;
			    right: 11px;
			    top: 7px;
			    color:#ffffff;
			    font-size: 26px;
			    vertical-align: middle;
			    font-weight: 500;
			    opacity:0.5;
			}
			&:hover {
				&:after {
				    opacity:1;
				}
			}
		}

		p {
	      	color:#ffffff;
	      	font-weight: 400;
	      	font-size: 18px;
	      	line-height: 1.3;
	      	letter-spacing: 0.02em;

	      	@media screen AND (min-width: 1200px) {
	      		font-size: 21px;
	      	}

	      	.market {
	      		font-weight: 600;
	      		display: inline-block;
	      		text-decoration: underline;
	      		color:#ffffff;
	      	}
	      	.market--change {
	      		font-weight: 600;
	      	}
		}

		.data {
	  		font-size: 80px;
	      	letter-spacing: 0em;
		  	line-height: 1.1;
		  	font-weight: 300;
	      	padding:10px 0 0;

			sub {
				bottom: 0;
				font-weight: 300;

				span.plus-minus {
					margin-right: -5px;
				}
			}

			.icon__arrow {
				width: 43px;
				display: inline-block;

				img, svg {
					width: 100%;
					height: auto;
					display: inline-block;
					margin-top: -7px;
				}
			}
		}
	}

	.overview__powerbar {
		background-color: #ffffff;
		border-bottom:1px solid #ddd;
	  	text-align: center;
	  	padding: 0px;
	  	position: relative;

  		@media screen AND (max-width: 575px) {
      		padding:0 0 8px;
      	}

	  	.button--pdf {
	  		position: absolute;
	  		right:2%;
	  		height: 60px;
	  		bottom: 0;

		  	button {
				background: transparent;
				cursor: pointer;

				i {
					font-size: 28px;
					color: $font-color;
				}
			}

			@media screen AND (max-width:768px) {
				display:none;
			}
	  	}

	    .label {
	      	line-height: 1;
	      	white-space: nowrap;
	      	font-size: 12px;

	      	@media screen AND (min-width: 768px) {
	      		font-size: 14px;
	      		text-align: right;
	      	}

		    a {
		    	color:$link-blue;
		       	cursor: pointer;

		      	i {
		        	color:$link-blue;
		       		cursor: pointer;
		        	margin-left:5px;
		      	}
	    	}
	  	}

	  	.powerbar {
	      	display: block;
	      	width: 100%;
	      	height: 40px;
	     	margin: 10px 0;
	     	padding: 0 5%;

	     	@media screen AND (min-width: 768px) {
	      		padding: 0 8% 0 0;
	      	}

		    p {
		      	color:#ffffff;
		      	font-weight: 600;
		      	font-size: 28px;
		      	line-height: 40px;
		      	white-space: nowrap;
		    	cursor: pointer;
		    }

		    .bullish--more {
		      	height: 40px;
		      	background-color: $veryBullish-green;
		      	float: left;
		      	width: 56%;
		      	border-radius: 25px 0px 0px 25px;
		      	border: 2px solid #ffffff;
		      	box-shadow: inset 0 0px 20px 0px rgba(0, 0, 0, 0.2);
		    }
	        .bullish--less {
	          height: 40px;
	          background-color: $veryBullish-green;
	          float: left;
	          width: 28%;
	          border-radius: 25px 0px 0px 25px;
	          border: 2px solid #ffffff;
		      box-shadow: inset 0 0px 20px 0px rgba(0, 0, 0, 0.2);
	        }
	        .bullish--same {
	          height: 40px;
	          background-color: $veryBullish-green;
	          float: left;
	          width: 42%;
	          border-radius: 25px 0px 0px 25px;
	          border: 2px solid #ffffff;
	          box-shadow: inset 0 0px 20px 0px rgba(0, 0, 0, 0.2);
	        }
		    .neutral {
		      	width: 16%;
		      	height: 40px;
		      	background-color: $neutral-yellow;
		      	float: left;
		      	border-radius: 1px;
		      	border-top: 2px solid #ffffff;
		      	border-bottom: 2px solid #ffffff;
		      	box-shadow: inset 0 0px 20px 0px rgba(0, 0, 0, 0.15);
		    }
		    .bearish--more {
		      	height: 40px;
		      	background-color: $veryBearish-red;
		      	float: left;
		      	width: 56%;
		      	border-radius:0px 25px 25px 0px;
		      	border: 2px solid #ffffff;
		      	box-shadow: inset 0 0px 20px 0px rgba(0, 0, 0, 0.2);
		    }
	        .bearish--less {
	          height: 40px;
	          background-color: $veryBearish-red;
	          float: left;
	          width: 28%;
	          border-radius:0px 25px 25px 0px;
	          border: 2px solid #ffffff;
		      box-shadow: inset 0 0px 20px 0px rgba(0, 0, 0, 0.2);
	        }
	        .bearish--same {
	          height: 40px;
	          background-color: $veryBearish-red;
	          float: left;
	          width: 42%;
	          border-radius:0px 25px 25px 0px;
	          border: 2px solid #ffffff;
		      	box-shadow: inset 0 0px 20px 0px rgba(0, 0, 0, 0.2);
	        }
	  	}
	  	#powerbar {
	  		button {
	  			outline:0;
	  			overflow: hidden;
	  		}
	  		.mat-raised-button, .mat-button {
	  			min-width: 30px;
	  		}
	  	}
	}
}
.section--overview--green {
  	background: $gradient--pulse-green;
}
.section--overview--red {
  	background: $gradient--pulse-red;
}






/*     CONTENTS -- MOVERS     */


#HC--Stock-Movements {
	background-color:$background--verylight;
	margin-bottom:20px;

	@media screen AND (min-width: 576px) {
	}

	.panel {
		margin-top:40px;

		.section__toggle {
			margin-top:-19px;
		}
	}

	h2 {
		margin-top:35px;
	}

	.label {
  		font-size: 14px;
      	line-height: 1.1;
      	font-weight: 600;
		text-transform: uppercase;
  		display: block;
  		letter-spacing: 0.05em;
  		cursor: default;
  		color:$font-color--mid;
  		margin-top: 0px;
  	}
  	.btn-group {
  		position: relative;
  		margin: 8px 0;

		.btn-primary {
			text-align: center;
			height:50px;
		    border: 0;
		    padding: 2px 40px 0px 6px;
		    border-radius: 8px;
		    border-bottom:0px;
			cursor: pointer;
	  		background-color: transparent;
		    font-size: 28px;
		    display: inline-block;
		    vertical-align: middle;
			color: $font-color;
			box-shadow: inset 0 0px 20px 2px rgba(0, 0, 0, 0.05);
			z-index: 20;
		    font-weight: 600;

		    &:hover {
		    	box-shadow: inset 0 0px 20px 2px rgba(0, 0, 0, 0.175);
		    }
		}
		.dropdown-toggle {
			min-width: 200px;

		    &:after {
				content: none;
		    }
		}
		&:after {
		    font-family: "Font Awesome 5 Pro";
		    content: "\f078 ";
		    display: inline-block;
		    position: absolute;
		    right: 12px;
		    top: 11px;
		    color:$font-color;
		    font-size: 20px;
		    vertical-align: middle;
		    font-weight: 500;
		    opacity:0.3;
		}
		&:hover {
			&:after {
			    opacity:1;
			}
		}
		.dropdown-menu {
		    position: absolute;
		    cursor: pointer;
		    z-index: 5;
		    float: left;
		    min-width: 100%;
		    padding: 40px 0 5px;
		    margin: -40px 0 0;
		    font-size: 24px;
		    color: $font-color;
		    width: 100%;
		    min-width: 200px;
		    text-align: center;
		    list-style: none;
		    background-color: rgba(255,255,255, 0.92);
		    background-clip: padding-box;
		    border: 2px solid #ffffff;
		    border-top:0px;
		    border-radius: 20px;
			box-shadow: 0 6px 40px rgba(50, 50, 50, 0.25);

			.dropdown-item {
				font-weight: 600;
			}
		}
	}

	.section__chart {
		margin: 10px 0;

		.col-headers {
			display: none;
		}

		.col-header--per-chg {
			@media screen AND (min-width: 1200px) {
				padding-left: 20px;
			}
		}
	}



	.list-item__mover {

		.mover__stock {
			cursor: pointer;

			.ticker {
			  	font-weight: 700;
			  	font-size: 22px;
			  	white-space: nowrap;
			  	text-align: left;
			  	color:$font-color;

			  	@media screen AND (min-width: 1024px) {
					padding-left: 12px;
				}

			  	@media screen AND (min-width: 1200px) {
					padding-left: 25px;
				}

			  	@media screen AND (min-width: 1280px) {
					padding-left: 45px;
				}

			  	img {
				  display: inline-block;
				  float:left;
				  width: 28px;
				  height: auto;
				  margin-right:5px;
				  margin-top: 8px;
				}
			}
			.ticker.market {
			  color: $pulse-blue;
			}
		}

		.mover__data {

			.mover__bar {
			  	border-radius: 5px;
			  	height: 30px;
			  	background-color: $background--medium;
			  	min-width: 5px;

			  	.data {
				  	line-height: 32px;
				  	font-size: 20px;
				  	color:#ffffff;
				  	font-weight: 600;
				  	text-align: right;
				  	margin-right:8px;
				  	cursor: default;
				}
			    .data--right {
			      	padding-left: calc(100% + 10px);
			      	color: $font-color;

			      	@media screen AND (max-width:575px) {
				    }

				    @media screen AND (min-width:1200px) {
				    }
			    }
			}
			.mover__bar.positive {
			  	background: $gradient--pulse-green;

			  	.data--right {
			      	color:$pulse-green__shade2;
			    }
			}
			.mover__bar.negative {
			  	background: $gradient--pulse-red;

			  	.data--right {
			      	color:$pulse-red__shade2;
			    }
			}
			.mover__bar.indice {
			  	background-image: $gradient--pulse-blue;
				//margin-left:-3px;

			  	.data--right {
			      	color:$pulse-blue__shade2;
			      	
			    }
			}
		}
	}

	#mover-wrapper {
	  	padding:0px;

	  	.mat-expansion-panel {
	    	box-shadow: 0 3px 1px -2px rgba(0,0,0,0),
	                	0 2px 2px 0 rgba(0,0,0,0),
	                	0 1px 5px 0 rgba(0,0,0,0);

		    .mat-expansion-panel-header.mat-expanded {
		      	background: rgba(0,0,0,.02);
		    }
		    .mat-expansion-panel-header {
		      	padding: 0px 15px 0px 0px;
		      	height: 48px;

		      	&:hover {
		        	background: rgba(0,0,0,.02);
		      	}

		      	.mat-content {
		      	}
		      	.mat-expansion-indicator {
		        	width: 20px;
		        	height: 20px;
		        	border-radius: 5px;

		        	&:hover {
		          		background-color: #efefef;
		          		box-shadow: inset 0 0px 20px 2px rgba(0, 0, 0, 0.175);
		        	}
		      	}
		    }
		    .mat-expansion-panel-content {
		      	.mat-expansion-panel-body {
		        	padding: 0;
		      	}

		      	.mat-action-row {
		        	background: rgba(0,0,0,.02);
		        	border-top-style: solid;
		        	border-top-width: 0px;
		        	display: flex;
		        	flex-direction: row;
		        	justify-content: flex-end;
		        	padding: 0px 10px 15px 5px;
		        	box-shadow: inset 0 -2px 7px -3px rgba(0, 0, 0, 0.175);
		        	overflow: hidden;
		        	position: relative;

		        	.details {
		          		display: flex;
		          		position: absolute;
		          		left:12px;
		          		top:3px;
		          		font-size: 20px;
		          		font-weight: 600;
		          		line-height: 36px;

			        	@media screen AND (min-width: 1024px) {
							left: 24px;
						}

					  	@media screen AND (min-width: 1200px) {
							left: 37px;
						}

					  	@media screen AND (min-width: 1280px) {
							left: 52px;
						}

			          	.company {
			            	margin-right: 25px;
			            	color:$font-color--mid;
			            	font-weight: 400;
			          	}
			          	.industry {
			            	font-size: 20px;
			            	font-weight: 400;
			            	font-style: italic;
			            	color:$font-color;
			          	}
			          	.prices {
			            	margin-right: 25px;
			            	font-weight: 600;
			            	color:$font-color;
			          	}
		        	}

			        .mat-raised-button {
			            position: relative;
			            cursor: pointer;
			            outline: 0;
			            overflow: hidden;
			            border: none;
			            text-align: center;
			            margin: 0 8px;
			            min-width: 36px;
			            font-size: 20px;
			            font-weight: 400;
			            line-height: 36px;
			            padding: 0px 15px;
			            border-radius: 20px;
			            transform: translate3d(0,0,0);
			            transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
			            box-shadow: none;

			            @media screen AND (max-width: 767px) {
			            	padding: 0px;
			            }
			        }
			        .mat-raised-button.remove {
			            background-color: #666;
			            color: #ffffff;
			        }
			        .mat-raised-button.analyze {
			            background-color: #1199ff;
			            color: #ffffff;
			        }
		      	}
		    }
	  	}
	}
}




#HC--Ratings-Changes {
	background-color:$background--verylight;
	margin-bottom:20px;

	.panel {
		padding-top:10px;

		@media screen AND (max-width: 575px) {
			padding-top:0px;
		}
	}

	h2 {
		//margin-top:25px;
	}

	.button__slide {
		display: none;
	}
	.stock__list {
		margin: 20px 0;
		height: 100%;
		overflow-y: auto;
		padding-bottom: 0;
		overflow-x: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}







/*     HC -- EARNINGS     */


#HC--Earnings {
	background-color:$background--verylight;
	margin-bottom:20px;

	.section__chart {
  		margin:25px 0 40px;
  	}
  	.panel {
		padding-top:10px;

		@media screen AND (max-width: 575px) {
			padding-top:0px;
		}
	}
}

.earnings__entry {
  	height: 36px;
  	margin: 8px 0;
  	cursor: pointer;

	.pgr {
		img {
		  	width: 28px;
		  	height: auto;
		}
	}

	.ticker {
		p {
		  	font-weight: 700;
		  	font-size: 22px;
		  	line-height: 40px;
		  	text-align: left;
		  	padding-left: 8px;
		}
	}

	.data {
	  font-weight: 500;
	  font-size: 18px;
	  line-height: 40px;
	}
}

.reporting-calendar {
	margin-bottom:20px;

	.col-headers {
		margin-top:20px;

		.col-head {
			margin: 0;
		  	float: left;
		  	width: 20%;

			p {
			  	opacity: 1;
			  	font-weight: 600;
			}
		}
	}

	.calendar__week {
		.cal-day {
		  	float:left;
		  	width: 20%;
		  	background-color: $background--light;
		  	border-radius: 8px;
		  	height: 58px;
		  	border:3px solid #ffffff;
		  	position: relative;
		  	cursor: pointer;

			p {
	  			display: block;
	  			height: 32px;
	  			width: 32px;
	  			background-color: #ffffff;
	  			font-size: 24px;
	  			font-weight: 700;
	  			border-radius: 100%;

	  			i {
	  				padding-top:3px;
	  				color:$pulse-blue;
	  			}
	  		}
	  		.selectedDay {
	  			span {
	  				display: none;
	  			}
	  			i {
	  				display:block;
	  			}
	  		}
		}
		.cal-day.blue {
		  background-image: $gradient--pulse-blue;
		}
	}

	.calendar__day-expand {
		margin: 15px 0;

		.ticker {
		  	color:$font-color;
		  	font-weight: 700;
		  	font-size: 30px;

		  	span {
		  		margin-bottom:10px;
		  		display: block;
		  		clear:both;
		  	}
		}
		.earn-date {
			font-size: 24px;
			font-weight: 500;
			text-align: center;
			line-height: 1.5;
		}
	}
}





/*     HC -- POWERGRID     */


#HC--PowerGrid {
	padding-top: 5px;
	background-color:$background--verylight;
	margin-bottom:20px;
	position: relative;

	h2 {
		margin-bottom: 20px;
	}
	h3 {
		margin-bottom: 17px;
	}
	.powergrid__container {
		position: relative;
		padding-left: 25px;
		margin-bottom: 25px;
		margin-top:20px;
		overflow-y:hidden;

		.vertical__label {
			position: absolute;
			width: 100%;
			transform: rotate(-90deg);
			bottom: 50%;
    		left: calc(-50% + 8px);

			p {
				text-align: center;
				font-size: 17px;
				font-weight: 600;
				letter-spacing: 0.03em;
				cursor: default;

				span {
					width: 150px;
					display: inline-block;
				}
			}
		}

		.powergrid__table {
			width: 100%;
			table-layout: fixed;

			th {
				text-align: center;
				font-size: 17px;
				line-height: 2;
				font-weight: 600;
			}

			.powergrid__row {
				height: 40px;
				border-bottom:1px dotted #ffffff;
				overflow: hidden;

				td {
					width: 33%;
					height: 40px;
					padding:0 15px;
				}

				.bear {
					background-image: linear-gradient(-90deg, #FD4500 0%, #D80032 100%);
					text-align: left;
					border-right: 2px solid #ffffff;
				}

				.bull {
					background-image: linear-gradient(90deg, #00C04E 0%, #009049 100%);
					text-align: right;
				}

				.ticker {
					color:#ffffff;
				  	font-weight: 600;
				  	font-size: 18px;
				  	overflow: hidden;
				  	vertical-align: middle;
				  	display: inline-block;
				  	cursor: pointer;

				  	span {
				  		margin: 0px 7px;

				  		&::after {
				  			content: ",";
						}
					}

					&:last-child {
						span {
					  		&::after {
					  			content: " ";
							}
						}
					}
				}

				.industry {
					background: #ffffff;
					padding-left:30px;
					overflow:hidden;

					.industry-text {
						text-align: left;
						color:#484848;
						text-overflow: ellipsis;
						white-space: nowrap;
						cursor: default;

						span {
							font-size: 18px;
							vertical-align: middle;
							font-weight: 600;
							position: relative;

							&:before {
								content: "←";
								position: absolute;
								left: -20px;
							}
						}
					}
				}

				.industry.industry--strong {
					.industry-text {
						color:#00C04E;
					}
				}

				.industry.industry--neutral {
					.industry-text {
						color:#FFB411;
					}
				}

				.industry.industry--weak {
					.industry-text {
						color:#FD4500;
					}
				}
			}

			.powergrid__row#industry-1 {
				.bear {
					background-image: linear-gradient(57deg, #D80032 3%, #00C04E 33%);
					border-radius: 10px 0px 0px 0px;
				}
				.bull {
					border-radius: 0px 10px 0px 0px;
				}
			}
			.powergrid__row#industry-2 {
				.bear {
					background-image: linear-gradient(57deg, #D80032 13%, #00C04E 43%);
				}
			}
			.powergrid__row#industry-3 {
				.bear {
					background-image: linear-gradient(57deg, #D80032 23%, #00C04E 53%);
				}
			}
			.powergrid__row#industry-4 {
				.bear {
					background-image: linear-gradient(57deg, #D80032 33%, #00C04E 63%);
				}
			}
			.powergrid__row#industry-5 {
				.bear {
					background-image: linear-gradient(57deg, #D80032 43%, #00C04E 73%);
				}
			}
			.powergrid__row#industry-6 {
				.bear {
					background-image: linear-gradient(57deg, #D80032 53%, #00C04E 83%);
				}
			}
			.powergrid__row#industry-7 {
				.bear {
					background-image: linear-gradient(57deg, #D80032 63%, #00C04E 93%);
				}
			}
			.powergrid__row#industry-8 {
				.bear, .bull {
					border-bottom: 2px solid #ffffff;
				}
			}
			.powergrid__row#industry-8,  .powergrid__row#industry-9 {
				.bear, .bull {
					background-image: linear-gradient(123deg, #FDD310 0%, #FFB100 100%);
				}
			}
			.powergrid__row#industry-10 {
				.bull {
					background-image: linear-gradient(57deg, #FD4500 3%, #009049 33%);
				}
			}
			.powergrid__row#industry-11 {
				.bull {
					background-image: linear-gradient(57deg, #FD4500 13%, #009049 43%);
				}
			}
			.powergrid__row#industry-12 {
				.bull {
					background-image: linear-gradient(57deg, #FD4500 23%, #009049 53%);
				}
			}
			.powergrid__row#industry-13 {
				.bull {
					background-image: linear-gradient(57deg, #FD4500 33%, #009049 63%);
				}
			}
			.powergrid__row#industry-14 {
				.bull {
					background-image: linear-gradient(57deg, #FD4500 43%, #009049 73%);
				}
			}
			.powergrid__row#industry-15 {
				.bull {
					background-image: linear-gradient(57deg, #FD4500 53%, #009049 83%);
				}
			}
			.powergrid__row#industry-16 {
				.bull {
					background-image: linear-gradient(57deg, #FD4500 63%, #009049 93%);
					border-radius: 0px 0px 10px 0px;
				}
				.bear {
					border-radius: 0px 0px 0px 10px;
				}
			}
		}
	}
}



.powerGrid {
	margin-top:0px;

	.col-headers {
	  	margin-bottom: 5px;
	  	margin-top: -5px;

	  	h4 {

	  	}
	}

	.grid__row {
		margin-bottom: 1px;

		&:last-child {
			margin-bottom:0px;

			.grid__quadrant {
				border-radius: 0 0 8px 8px;
			}
		}

		&:only-child {
			margin-bottom:0px;

			.grid__quadrant {
				border-radius: 8px;
			}
		}

		.grid__quadrant {
		  	padding: 2px 3px 0;

			.ticker {
			  	color:#ffffff;
			  	font-weight: 600;
			  	font-size: 18px;
			  	padding: 10px 0;
			  	overflow: hidden;
			  	text-overflow: ellipsis;
			  	white-space: nowrap;
			}
		}

		&:nth-of-type(2) {
			.grid__quadrant {
				border-radius: 8px 8px 0 0;
			}
		}

		.grid__quadrant.green {
		  background: linear-gradient(to right, rgba(0,204,0,1) 0%,rgba(0,170,119,1) 100%);
		}
		.grid__quadrant.red {
		  background: linear-gradient(to right, rgba(255,50,50,1) 2%,rgba(170,0,119,1) 100%);
		}

		.industry {
		  	line-height: 35px;
		  	padding: 7px 0;
		  	font-size: 16px;
		  	font-weight: 500;
		  	overflow: hidden;
		  	text-overflow: ellipsis;
		  	white-space: nowrap;
		  	text-align: left;
		  	cursor: default;
		}
	}
	.powergrid__empty {
		background-color: #ddd;
		height: 48px;
		border-radius: 8px;
		display: block;
		width: 100%;
		margin:0px 0 10px;

		.none {
		  	color:#ffffff;
		  	font-weight: 600;
		  	font-size: 18px;
		  	line-height: 48px;
		  	overflow: hidden;
		  	text-overflow: ellipsis;
		  	white-space: nowrap;
		}
	}
}

.flex-md-last.powerGrid {
	margin-bottom: 20px;
}

#HC--Disclaimer {
	background-color: #f8f8f8;
	margin-top: 10px;

	@media screen AND (max-width:575px) {
		padding-bottom: 20px;
	}
}

.mat-expansion-panel-content:not(.mat-expanded) {
  //height: 0px !important;
  //visibility: hidden !important;
  display: none !important;
}













