@import 'variables';




/*                                                   */
/*                CONTENTS -- INTRO                  */
/*                                                   */

.section--overview {
	.overview__summary {
		margin:10px 0;

		.data {
	  		font-size: 72px;
		  	line-height: 1;
		  	font-weight: 400;

			sub {
			  bottom: 0;
			}
		}

		img {
			width: 32px;
			height: 32px;
			margin-top: -5px;
		}

		.label {
			font-size: 16px;
			font-weight: 600;
			line-height: 1.125;
			text-transform: uppercase;
		}
		.portfolio {
		}
		.market {
		}
	}
}





 
/*     CONTENTS -- MOVERS     */


.section--stockmovements {
  display: block;
  float: left;
}

.section--stockmovements .section__chart {
	margin-bottom: 0;
}

.list-item__mover {
  margin-bottom:10px;
  //padding: 0 4%;

  &:last-child {
  	//margin-bottom:0;
  }
}

.mover__stock {
	img {
	  display: flex;
	  float:left;
	  width: 28px;
	  height: auto;
	  margin-right:5px;
	  margin-top: 8px;
	}
	.ticker {
	  display:flex;
	  float:left;
	  font-weight: 700;
	  font-size: 22px;
	  white-space: nowrap;
	}
	.ticker.indice {
	  color:#4718E1;
	}
}

.mover__data {
	.mover__bar {
	  	border-radius: 10px;
	  	height: 30px;

	  	.data {
		  	line-height: 32px;
		  	font-size: 20px;
		  	color:#ffffff;
		  	font-weight: 500;
		  	text-align: right;
		  	margin-right:8px;
		}
	}
	.mover__bar.positive {
	  background: linear-gradient(to right, rgba(0,204,0,1) 0%,rgba(0,170,119,1) 100%);
	}
	.mover__bar.negative {
	  background: linear-gradient(to right, rgba(255,50,50,1) 2%,rgba(170,0,119,1) 100%);
	}
	.mover__bar.indice {
	  background-image: linear-gradient(-50deg, #6B0097 0%, #0096D4 100%);
	}
}





.section__contents {
	.stock__list {
		margin-bottom: 30px;
	}
}




/*     HC -- EARNINGS     */


.earnings__entry {
  	height: 36px;
  	overflow: hidden;

	.pgr {
		img {
		  	width: 28px;
		  	height: auto;
		}
	}

	.ticker {
		p {
		  	font-weight: 700;
		  	font-size: 22px;
		  	line-height: 40px;
		  	text-align: left;
		  	padding-left: 8px;
		}
	}

	.data {
	  font-weight: 500;
	  font-size: 18px;
	  line-height: 40px;
	}
}

.reporting-calendar {

	.col-head {
	  	float: left;
	  	width: 20%;

		p {
		  	opacity: 1;
		  	font-weight: 600;
		}
	}

	.calendar__week {
		.cal-day {
		  	float:left;
		  	width: 20%;
		  	background-color: #DEDEDE;
		  	border-radius: 8px;
		  	height: 58px;
		  	border:3px solid #ffffff;
		  	position: relative;
		  	cursor: pointer;

			p {
	  			display: block;
	  			height: 32px;
	  			width: 32px;
	  			background-color: #ffffff;
	  			font-size: 24px;
	  			font-weight: 700;
	  			border-radius: 100%;
	  		}
		}
		.cal-day.green {
		  background: linear-gradient(to right, rgba(0,204,0,1) 0%,rgba(0,170,119,1) 100%);
		}
		.cal-day.red {
		  background: linear-gradient(to right, rgba(255,50,50,1) 2%,rgba(170,0,119,1) 100%);
		}
		.cal-day.blue {
		  background-image: linear-gradient(50deg, #6B0097 0%, #0096D4 100%);
		}
	}
}





/*     HC -- POWERGRID     */


.powerGrid {
  	padding: 0 7%;

	.col-headers {
	  	padding:0;

		p {
		  font-size: 16px;
		  font-weight: 500;
		  opacity: .8;
		}
	}

	.grid__row {
		margin-bottom: 15px;

		.grid__quadrant {
		  	padding: 2px 3px 0;
		  	border-radius: 7px;

			.ticker {
			  	color:#ffffff;
			  	font-weight: 600;
			  	font-size: 20px;
			  	line-height: 40px;
			  	border-bottom: 1px dashed #ffffff;
			  	padding: 5px 0;
			  	overflow: hidden;
			  	text-overflow: ellipsis;
			  	white-space: nowrap;

				&:last-child {
				  border-bottom: 0px dashed #ffffff;
				}
			}

			.industry {
			  	line-height: 40px;
			  	padding: 5px 0;
			  	font-size: 18px;
			  	font-weight: 600;
			  	overflow: hidden;
			  	text-overflow: ellipsis;
			  	white-space: nowrap;
			}
		}
		.grid__quadrant.green {
		  background: linear-gradient(to right, rgba(0,204,0,1) 0%,rgba(0,170,119,1) 100%);
		}
		.grid__quadrant.red {
		  background: linear-gradient(to right, rgba(255,50,50,1) 2%,rgba(170,0,119,1) 100%);
		}
	}
}


.section.section--ratingschanges {
	.button__slide {
		display: none;
	}
}















