@import 'variablesPulse';


/*                                                     */
/*           CONTAINER -- STOCK VIEW PAGE              */
/*                                                     */

.component--stockview.bullish, .component--stockview.bearish, .component--stockview.neutral, .component--stockview.none {
    background: $background--verylight !important;
}
.component--stockview {
	position: absolute;
	width: 100%;
	top:90px;
	left:0;
	display: none;
	background: $background--verylight;
	color: $font-color;
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.2);

	@media screen AND (max-width:991px) {
		top:45px;
	}

	.divider__long {
		margin:20px auto;
		width: 95%;
	}
	.divider__full {
		margin:25px auto 45px;
		width: 95%;
	}

	.panel {
		padding: 0px 10px 10px;
		overflow: hidden;
		margin: 0px 0 15px;

		.tab__container {
			z-index: 100;
			height: 16px;
			padding: 0px;

			.tab--slide {
			  width: 21%;
			  height: 5px;
			  background-color: $background--light;
			  border-radius: 10px;
			  opacity:0.5;
			  margin: 5px 40% 0;
			  cursor: pointer;
			  position: fixed;
			  transition:.4s;
			}
		}

		@media screen AND (max-width:575px) {
			margin-bottom: 10px;
			border-radius:0;
		}
	}
}


.component--stockview.open {
	display:block;
}




/*           HEADER            */


.stockview__header {
	width: 100%;
	background-color: $background--verylight;

	.header__button {
		position: absolute;
		width: 30px;
		height: 58px;
		display: flex;
		z-index: 10;
		cursor: pointer;
		text-align: center;
		transition-property:color opacity;
		transition-duration: 0.45s;
		transition-timing-function: ease;

		i {
			font-size: 27px;
			line-height: 58px;
			transition-property:color opacity;
			transition-duration: 0.45s;
			transition-timing-function: ease;
		}
	}

	.header__button--left {
		left:2%;
		opacity:0.3;
		
		img {
			width: 26px;
			height: 26px;
		}

		&:hover {
			opacity:1;
		}

		@media screen AND (min-width:768px) {
			display:none;
		}
	}

	.header__button--right {
		right:2%;
		text-align: center;

		i {
			opacity:0.3;
		}

		.fa-plus-circle {
			color: $link-blue;
			opacity: 1;

	        &:active {
	        	color: #207cca;
	        }
	    }

		@media screen AND (min-width:768px) {
			left:1.25%;
		}

		&:hover {

			i {
				opacity:1;
				color: $link-blue;
			}

			.fa-plus-circle {
				opacity:1;
				color: $link-blue;
			}
		}
	}

	.header__button--pdf {
		display:none;
		opacity: 0.4;
		z-index: 20;

		&:hover {
			opacity:1;

			i {
				color: $link-blue;
			}
		}

		@media screen AND (min-width:1024px) {
			right:1.5%;
			display: block;
		}
	}

	.header__stock {
		width: 100%;
		height: 58px;
		position: absolute;
		cursor: default;
		overflow:hidden;
		padding-top: 2px;

		@media screen AND (max-width: 575px) {
			padding-top: 0px;
		}

		.ticker {
			display: block;
			height: 100%;
			text-align: left;
			line-height: 58px;
			color:$font-color;
			font-size: 32px;
			float: left;
			margin: 0 4% 0 13%;

			@media screen AND (min-width:768px) {
				font-size: 40px;
				margin: 0 3% 0 7%;
			}
			@media screen AND (min-width:1280px) {
				margin: 0 3% 0 6%;
			}

			img {
		        width: 52px;
		        display: inline-block;
		        vertical-align: baseline;

			    @media screen AND (max-width:767px) {
			    	width: 45px;
				}
		    }
		}

		.more-ticker-info {
			text-align: left;
			line-height: 58px;
			float: left;
			font-size: 26px;
			cursor:pointer;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 35%;

			@media screen AND (max-width:575px) {
				width: 40%;
				padding-right:50px;
				text-align: right;
				font-size: 32px;
				line-height: 62px;
				font-weight: 500;
				float: right;
			}
			@media screen AND (min-width:576px) {
				color:$font-color;
			}

			@media screen AND (min-width:501px) AND (max-width:939px) {
				width: 62%;
				font-size: 30px;
			}

			@media screen AND (min-width:1200px) {
				font-size: 35px;
				width: 43%;
			}
		}
	}
}








/*           STOCK VIEW CONTENTS            */


.stockview__contents {
	background-color: transparent;
	margin: 56px auto 0;
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	padding-bottom: 148px;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 15px;
	transition: .4s;

	@media screen AND (max-width:575px) {
		padding-bottom: 178px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.stockview__contents.anchor-drop {
	margin: 113px auto 0;
}



.stock-info {
	h1 {
		font-weight: 400;
		font-size: 32px;
		line-height: 1.3;
		margin: 30px 0;
		color: $font-color--mid;
		white-space: nowrap;

		span {
			font-weight: 600;
		}
		span.verybearish {
			color:$veryBearish-red;
		}
		span.bearish {
			color:$bearish-red;
		}
		span.bullish {
			color:$bullish-green;
		}
		span.verybullish {
			color:$veryBullish-green;
		}
		span.neutral {
			color:$neutral-yellow;
		}
	}

	h2 {
		margin-top:10px;
		margin-bottom:25px;

		@media screen AND (max-width: 575px) {
			font-size: 32px;
		}

		@media screen AND (max-width: 991px) {
			font-size: 34px;
		}
	}

	.label {
		line-height: 1;
	}

	.pgr-section__icon {
		display: block;
		background-color: rgba(200,200,200,0.1);
		border-radius: 33px;
		width: 66px;
		height: 66px;
		color:#ccc;
		font-size: 38px;
		line-height: 62px;
		border: 3px solid #ccc;
		margin: 23px auto -13px;

		i {
			color:#ccc;
		}
	}
	.pgr-section__icon.veryBullish {
		background-color: rgba(36,163,0,0.05);
		color:$veryBullish-green;
		border: 3px solid $veryBullish-green;

		i {
			color:$veryBullish-green;
		}
	}
	.pgr-section__icon.bullish {
		background-color: rgba(106,204,0,0.05);
		color:$bullish-green;
		border: 3px solid $bullish-green;

		i {
			color:$bullish-green;
		}
	}
	.pgr-section__icon.neutral {
		background-color: rgba(245,166,35,0.05);
		color:$neutral-yellow;
		border: 3px solid $neutral-yellow;

		i {
			color:$neutral-yellow;
		}
	}
	.pgr-section__icon.bearish {
		background-color: rgba(253,69,0,0.05);
		color:$bearish-red;
		border: 3px solid $bearish-red;

		i {
			color:$bearish-red;
		}
	}
	.pgr-section__icon.veryBearish {
		background-color: rgba(208,2,27,0.05);
		color:$veryBearish-red;
		border: 3px solid $veryBearish-red;

		i {
			color:$veryBearish-red;
		}
	}

	.chart-list {
		.divider {
			margin-top:5px;
			margin-bottom: 15px;
		}
		ul {
			margin-bottom:25px;

			li {
				padding: 8px 0;

				.data {
					font-size: 16px;
					font-weight: 500;
					line-height: 1;
				}

				.ticker {
					font-size: 17px;
					text-align: left;
					line-height: 1;

					span {
						display: inline-block;

						img {
							width: 100%;
							width: 25px;
							vertical-align: top;
						}
					}
				}

				&:hover {
					background-color: rgba(0,0,0,0.025);
				}
			}
			.col-headers {
				margin-bottom: 10px;
			}
		}
	}

	.paragraph {
		font-family: $font-stack2;
		font-size: 14px;
		margin-bottom: 15px;
		text-align: left;
		font-weight: 400;

		span {
			font-weight: 700;
			font-family: $font-stack2;
			font-size: 14px;
		}

		&:last-child {
			margin-bottom: 0px;
		}
	}
}



.stock-info--main-rating {
	.stockview__PGR {
		.pgr__sliders {
			.sliderBar-container {
				.pgr__label {
					padding: 0;
					p {
						font-size: 17px;
						line-height: 1.1;
					}
				}
			}
		}
	}
}




/*           PGR            */


.stockview__main-rating {
	text-align: center;
	margin: 15px 0 0px;
	cursor: default;

	@media screen AND (max-width:575px) {
		margin: 5px 0 0px;
	}

	.rating {
		margin-bottom:5px;

		@media screen AND (min-width:1401px) {
			display: inline-block;
			margin-bottom: 10px;
		}

		span {
			display: inline-block;
			font-size: 36px;
			font-weight: 700;
			line-height: 1.2;
		}
		img {
			display: inline-block;
			width: 50px;
			margin-right: 7px;
			vertical-align: baseline;
		}
	}
	.label {
		line-height: 1.3;
		margin-bottom:20px;

		@media screen AND (min-width:1401px) {
			display: inline-block;
			margin:15px 0px 0 20px;
			vertical-align: super;
			float: left;
			line-height: 1;
		}

		i {
			color: $link-blue;
		}
	}
}







/*           PRICE            */


.stock-info--price {
	padding-bottom: 10px;
	cursor: default;

	@media screen AND (min-width: 768px) {
		border-left:$line--light--thin;
		margin-top: 10px;
	}
	.current-price {
		font-size: 64px;
		line-height: 1;
		font-weight: 400;
		margin-top: 10px;
		cursor: default;

		sub {
			font-size: 36px;
			bottom:0;
		}
	}
	.data {
		font-size: 36px;
		font-weight: 500;
		line-height: 1.4;
		margin-top:15px;
		cursor: default;
		white-space: nowrap;
	}
	.label {
		line-height: 1.1;
	}
}






/*           CHARTS/GRAPHS            */


.stock-info--chart-toggle {
	//padding: 0 5px;

	@media screen AND (max-width:991px) {
		margin: 15px 0 0;
	}

	.chart-header__breakdown {
		font-size: 22px;
		font-weight: 500;
		line-height: 1.5;
		margin-bottom: 25px;
		cursor: default;
		margin-top: 10px;

		@media screen AND (min-width:992px) {
			font-size: 28px;
			margin-top: 15px;
			margin-bottom: 20px;
		}
	}

	.date-select {
		font-size: 20px;
		font-weight: 700;
		opacity: 0.5;
		color: $font-color;
		line-height: 1;
		display: inline-block;
		text-align: center;
		padding:4px 13px 3px;
		cursor: pointer;
		white-space: nowrap;
		border-radius: 30px;
	}

	.date-select.selected {
		opacity: 1;
		color:#ffffff;
		cursor: default;
	}
}





.stock-info--chart {
	.main-chart {
		padding:0;

		@media screen AND (min-width: 992px) {
			padding:0px 20px 20px;
		}
	}
}






/*           STATS            */


.stock-info--stats {
	padding:30px 0;

	.data {
		font-size: 24px;
		font-weight: 400;
		line-height: 1.5;

		sub {
			bottom:0;
		}
	}

	.data--large {
		font-size: 34px;
		line-height: 1.4;

		sub {
			font-size: 24px;
			bottom:0;

			@media screen AND (min-width: 1200px) {
				font-size: 28px;
			}
		}

		@media screen AND (min-width: 1200px) {
			font-size: 40px;
		}

		@media screen AND (max-width: 370px) {
			font-size: 28px;
		}
	}

	.stock-industry {
		margin-top: 5px;
		margin-bottom:25px;
	}

	.divider__full {
		margin:10px auto 15px;
	}
}





/*           NEWS            */


.stock-info--news {
	padding:30px 0;

	h2 {
		margin-bottom: 30px;
	}

	.chevron-slider {
		cursor: pointer;
		img {
			width: 20px;
			height: 40px;
		}
	}

	.news__slider {
		width: 100%;
	    list-style-type: none;
	    margin: 0 auto;
	    white-space: nowrap;
	    overflow:hidden;

		li {
			display: inline-block;
			width: 300px;
			margin-right:50px;

			.headline__link {
				max-height: 195px;
				overflow: hidden;
				display: -webkit-box;
				max-width: 100%;
				-webkit-line-clamp: 6;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;

				.headline {
					font-weight: 500;
					font-size: 20px;
					line-height: 1.4;
					margin-bottom: 5px;
					font-family: $font-stack2;
					text-align: left;
					opacity: 0.8;
					white-space: normal;
					cursor: pointer;

					&:hover {
						opacity: 1;
						text-decoration: underline;
					}
				}
			}

			.source {
				text-align: left;
				font-size: 15px;
				font-weight: 600;
				line-height: 35px;
			}

			.date {
				text-align: right;
				font-size: 13px;
				font-weight: 400;
				font-style: italic;
				line-height: 35px;
				padding-right: 10px;
				text-transform: uppercase;
			}

			&:last-child {
				margin-right: 0px;
			}
		}
	}
}








/*             CONTAINER -- PGR BREAKDOWN              */



.stock-info--overall-breakdown {
	.rating {
		font-size: 32px;
		font-weight: 500;
		margin-bottom: 25px;
		line-height: 1.3;
		margin-top: 10px;

		span {
			font-weight: 700;
		}

		@media screen AND (min-width: 576px) {
			font-size: 40px;
		}

		@media screen AND (min-width: 992px) {
			font-size: 48px;
		}
	}
	h2 {
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.copy-block {
		margin-bottom: 30px;

		.paragraph {
			font-size: 16px;

			span {
				font-size: 18px;
			}
		}
	}
}



.stock-info--breakdown {
	h1 {
		margin: 35px 0;
		color:$font-color;

		@media screen AND (min-width: 576px) {
			font-size: 40px;
		}

		@media screen AND (min-width: 992px) {
			font-size: 48px;
		}

		span {
			font-weight: 700;
		}
	}
	.pgr__sliders {
		@media screen AND (min-width: 1200px) {
			padding-top:5px;
		}
	}
	.data-table {
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.stockview__PGR {
		@media screen AND (min-width: 992px) {
			border-right:$divider--dotted;
			margin-bottom: 0px;
			padding-left: 0px;
			padding-top:5px;
		}
	}
	.chart__header {
		margin-top:50px;
	}
}




.stock-info--competition {
	padding:30px 0;

	.chart-list {

		ul {
			.col-headers {
				cursor: default;

				&:hover {
					background-color: rgba(0,0,0,0);
				}
			}

			li {
				cursor: pointer !important;
			}
		}
	}
}


.stock-info--profile {
	padding:30px 0;

	.copy-block {
		margin-bottom:35px;
	}
	.paragraph {
		font-size: 16px;

		span {
			font-size: 18px;
		}
	}
	.data {
		font-size: 22px;
		font-weight: 400;
		line-height: 1.5;

		sub {
			bottom:0;
		}
	}
	.label {
		margin-bottom:20px;
	}

	.data--large {
		font-size: 34px;
		line-height: 1.4;

		sub {
			font-size: 24px;
			bottom:0;
		}
	}
}


.stock-info--disclaimer {
	padding-top:0px;
	color:$font-color;

	@media screen AND (max-width: 575px) {
		padding:0 10px;
	}
}





/*           DATA TABLE            */

.data-table {
	margin-top: 0px;

	table {
		color: $font-color;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 25px;

		th {
			text-align: center;
			font-size: 17px;
			line-height: 2;
			font-weight: 600;
			white-space: nowrap;
			border-bottom: $line--light;
		}
		tr {
			&:hover {
				background-color: rgba(0,0,0,0.025);
			}
		}
		.tr-labels {
			&:hover {
				background-color: rgba(0,0,0,0);
			}
		}
		td {
			padding:10px 0 5px;
			min-width: 50px;
		}
		.data {
			text-align: right;
			font-weight: 600;
			font-size: 15px;
			line-height: 20px;
		}
		.label {
			text-align: left;
			font-size: 12px;
			white-space: nowrap;
			font-weight: 500;
			line-height: 20px;
		}
	}
	.table--short-interest {
		td {
			font-weight: 700;
			line-height: 1.3;
		}
	}
}







.unselected--warning {
  @media screen AND (max-width:768px) {
    display:none;
  }
}

.etf--warning {
	position: absolute;
	top: 0;
	left:0px;
	width: 100%;
	height: 100vh;
	z-index: 15;
 	overflow: hidden;
 	background-color: rgba(50,50,50,0.9);

 	.warning-box {
 		background-color: rgba(255,255,255,0.9);
 		width: 66%;
 		height: 25%;
 		border-radius: 10px;
 		box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.4);
 		border:2px solid #ffffff;

 		.warning__text {
 			color:$font-color;
 			display: block;
 			width: 90%;
 			line-height:1.4;
 			font-size: 24px;
 			font-weight: 400;
 			cursor:default;


			i {
				display:inline-block;
				font-size: 20px;
			}

 			a {
 				color:$link-blue;
 				display:inline-block;
 				margin-top:30px;
 				font-weight: 600;
 				font-size: 20px;
 				cursor:pointer;

 				i {
 					display:inline-block;
 					font-size: 18px;
 				}
 			}
 		}

 		@media screen AND (max-width:575px) {
 			width: 90%;
 			height: 40%;
 		}
 	}
}




.component--stockview.bullish {
	background: $gradient--pulse-green--a1;

	.divider__full {
	 	background: $gradient--pulse-green;
	 	opacity: 0.5;
	 	width: 95%;
	}
	.stock-info {
		h2 {
			color:$pulse-green;
		}
	}
	.stock-info--stats {
		.label {
			color:$pulse-green__shade2;
		}
	}
	.stock-info--chart-toggle {
		.date-select.selected {
			background: $gradient--pulse-green;
		}
	}
	.stock-info--news {
		.news__slider {
			.source {
				color:$pulse-green__shade2;
			}
		}
	}
	.stock-info--profile {
		.label {
			color:$pulse-green__shade2;
		}
	}
	.data-table {
		table {
			.label {
				color:$pulse-green__shade2;
			}
		}
	}
}

.component--stockview.bearish {
	background: $gradient--pulse-red--a1;

	.divider__full {
	  background: $gradient--pulse-red;
	  opacity: 0.5;
	  width: 95%;
	}
	.stock-info {
		h2 {
			color:$pulse-red;
		}
	}
	.stock-info--stats {
		.label {
			color:$pulse-red__shade2;
		}
	}
	.stock-info--chart-toggle {
		.date-select.selected {
			background: $gradient--pulse-red;
		}
	}
	.stock-info--news {
		.news__slider {
			.source {
				color:$pulse-red__shade2;
			}
		}
	}
	.stock-info--profile {
		.label {
			color:$pulse-red__shade2;
		}
	}
	.data-table {
		table {
			.label {
				color:$pulse-red__shade2;
			}
		}
	}
}

.component--stockview.neutral {
	background-image: $gradient--pulse-yellow--a1;

	.divider__full {
	  	background-image: $gradient--pulse-yellow;
	  	opacity: 0.5;
	  	width: 95%;
	}
	.stock-info {
		h2 {
			color:$pulse-yellow;
		}
	}
	.stock-info--stats {
		.label {
		  	color:$pulse-yellow__shade2;
		}
	}
	.stock-info--chart-toggle {
		.date-select.selected {
			background: $gradient--pulse-yellow;
		}
	}
	.stock-info--news {
		.news__slider {
			.source {
				color:$pulse-yellow__shade2;
			}
		}
	}
	.stock-info--profile {
		.label {
			color:$pulse-yellow__shade2;
		}
	}
	.data-table {
		table {
			.label {
				color:$pulse-yellow__shade2;
			}
		}
	}
}

.component--stockview.none {
  background-image: $gradient--pulse-grey;

  .divider__full {
    background-image: $gradient--pulse-grey;
    opacity: 0.9;
    width: 95%;
  }
  .stock-info {
    h2 {
      color:$pulse-grey__shade1;
    }
  }
  .stock-info--stats {
    .label {
      color:$pulse-grey__shade1;
    }
  }
  .stock-info--chart-toggle {
    .date-select.selected {
      background-color:$pulse-grey__shade1;
    }
  }
  .stock-info--news {
    .news__slider {
      .source {
        color:$pulse-grey__shade1;
      }
    }
  }
  .data-table {
    table {
      .label {
        color:$pulse-grey__shade1;
      }
    }
  }
}
