@import 'variables';


/*                                                     */
/*           CONTAINER -- STOCK VIEW PAGE              */
/*                                                     */


.component--stockview {
	position: absolute;
	width: 100%;
	top:47px;
	left:0;
	display: none;
	color: #484848;

	.divider__long {
		margin:25px auto;
		width: 80%;
	}
	.divider__long--red, .divider__long--green, .divider__long--blue, .divider__long--yellow {
		margin:25px auto;
		width: 100%;
	}
}

.component--stockview.open {
	display:block;
}

.component--stockview.bullish {
	background: linear-gradient(to right, rgba(0,204,0,1) 0%, rgba(0,170,119,1) 100%);

	.divider__full {
	 	background: linear-gradient(to right, rgba(0,204,0,1) 0%, rgba(0,170,119,1) 100%);
	}
	.stock-info {
		h2 {
			color:#00C04E;
		}
	}
	.stock-info--stats {
		.label {
			color:#00C04E;;
		}
	}
	.stock-info--chart-toggle {
		.date-select.selected {
			background-color: #00C04E;
		}
	}
	.stock-info--news {

		.news__pagination {
			p {
				color:#00C04E;;

				span {
					color:#00C04E;
				}
			}
		}
		.news__slider {
			.source {
				color:#00C04E;
			}
		}
	}
	.data-table {
		table {
			.label {
				color:#00C04E;
			}
		}
	}
}






.component--stockview.bearish {
	background: linear-gradient(to right, rgba(255,50,50,1) 2%,rgba(170,0,119,1) 100%);

	.divider__full {
	  background: linear-gradient(to right, rgba(255,50,50,1) 2%,rgba(170,0,119,1) 100%);
	}
	.stock-info {
		h2 {
			color:#FD001F;
		}
	}
	.stock-info--stats {
		.label {
			color:#FD001F;
		}
	}
	.stock-info--chart-toggle {
		.date-select.selected {
			background-color: #FD001F;
		}
	}
	.stock-info--news {

		.news__pagination {
			p {
				color:#FD001F;

				span {
					color:#FD001F;
				}
			}
		}
		.news__slider {
			.source {
				color:#FD001F;
			}
		}
	}
	.data-table {
		table {
			.label {
				color:#FD001F;
			}
		}
	}
}

.component--stockview.neutral {
	background-image: linear-gradient(123deg, #FDD310 0%, #FFB100 100%);

	.divider__full {
	  	background-image: linear-gradient(123deg, #FDD310 0%, #FFB100 100%);
	}
	.stock-info {
		h2 {
			color:#FFB411;
		}
	}
	.stock-info--stats {
		.label {
		  	color:#FFB411;
		}
	}
	.stock-info--chart-toggle {
		.date-select.selected {
			background-color:#FFB411;
		}
	}
	.stock-info--news {

		.news__pagination {
			p {
				color:#FFB411;

				span {
					color:#FFB411;
				}
			}
		}
		.news__slider {
			.source {
				color:#FFB411;
			}
		}
	}
	.data-table {
		table {
			.label {
				color:#FFB411;
			}
		}
	}
}





/*           HEADER            */


.stockview__header {
	width: 100%;

	.header__button {
		position: absolute;
		width: 30px;
		height: 60px;
		display: flex;
		z-index: 10;

		img {
			width: 30px;
			height: 30px;
		}
	}

	.header__button--left {
		left:3%;

		@media screen AND (min-width:768px) {
			display:none;
		}
	}

	.header__button--right {
		right:3%;

		@media screen AND (min-width:768px) {
			left:3%;
		}
	}

	.header__stock {
		width: 100%;
		height: 60px;
		position: absolute;

		h1 {
			text-align: left;
			line-height: 64px;
			color:#ffffff;
			font-weight: 700;
			font-size: 36px;
			float: left;
			margin: 0 5% 0 15%;

			@media screen AND (min-width:768px) {
				font-size: 48px;
				margin: 0 5% 0 9%;
			}
		}

		p {
			text-align: left;
			line-height: 64px;
			color:#ffffff;
			float: left;
			font-size: 18px;

			@media screen AND (min-width:768px) {
				font-size: 36px;
			}
		}
	}
}








/*           STOCK VIEW CONTENTS            */


.stockview__contents {
	background-color: #ffffff;
	border-radius: 10px 10px 0 0;
	box-shadow: 0px -5px 19px rgba(0,0,0,0.15);
	margin: 58px 0 0;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom: 143px;


	&::-webkit-scrollbar {
	    display:none;
	}
}





.stock-info {
	h1 {
		font-weight: 400;
		font-size: 28px;
		line-height: 1.3;
		margin: 30px 0;
		color: #999999;

		span {
			font-weight: 600;
		}
		span.red {
			color:#FD001F;
		}
		span.green {
			color:#00C04E;
		}
		span.yellow {
			color:#FF9900;
		}
	}

	h2 {
		margin-top:10px;
		margin-bottom:25px;
		font-size: 32px;
	}

	.label {
		font-size: 13px;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
	}

	.ticker {
		font-weight: 700;
	}

	.chart-list {
		.divider {
			margin-top:5px;
			margin-bottom: 15px;
		}
		ul {
			margin-bottom:25px;

			li {
				margin: 15px 0;

				.data {
					font-size: 16px;
					font-weight: 500;
					line-height: 1;
				}

				.ticker {
					font-size: 17px;
					text-align: left;
					line-height: 1;

					span {
						display: inline-block;

						img {
							width: 100%;
							width: 25px;
							vertical-align: top;
						}
					}
				}
			}
			.col-headers {
				margin-bottom: 10px;
			}
		}
	}

	.paragraph {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		margin-bottom: 15px;
		text-align: left;
		font-weight: 300;
		line-height: 1.6;

		span {
			font-weight: 700;
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
		}
	}
}






/*           PGR            */



.stockview__main-rating {
	text-align: center;
	margin: 10px 0 5px;

	.label {
		@media screen AND (min-width:992px) {
			display: inline-block;
			margin-right:5%;
		}
		line-height: 1;

		i {
			color: #1199ff;
		}
	}

	.rating {

		@media screen AND (min-width:768px) {
			display: inline-block;
		}

		span {
			display: inline-block;
			font-size: 36px;
			font-weight: 700;
		}
		img {
			display: inline-block;
			width: 44px;
			height: 25px;
			margin-right: 7px;
			vertical-align: baseline;
			padding-top: 3px;
		}
	}
}







/*           PRICE            */


.stock-info--price {
	.current-price {
		font-size: 64px;
		line-height: 1;
		font-weight: 400;
		margin-top: 20px;

		sub {
			font-size: 36px;
			bottom:0;
		}
	}
	.data {
		font-size: 36px;
		font-weight: 500;
		line-height: 1.4;
		margin-top:15px;
	}
	.label {
		line-height: 1.1;
	}
}






/*           CHARTS/GRAPHS            */


.stock-info--chart-toggle {
	margin: 10px 0;

	.chart-header__breakdown {
		font-size: 20px;
		font-weight: 500;
		line-height: 1.5;
		margin-bottom: 20px;

		@media screen AND (min-width:768px) {
			font-size: 32px;
		}
	}

	.date-select {
		font-size: 18px;
		font-weight: 600;
		opacity: 0.5;
		color: #484848;
		line-height: 1;
		display: inline-block;
		text-align: center;
		padding:3px 5px 1px 6px;
	}

	.date-select.selected {
		opacity: 1;
		border-radius: 30px;
		color:#ffffff;
	}
}





.stock-info--chart {
}






/*           STATS            */


.stock-info--stats {
	.label {
	}

	.data {
		font-size: 24px;
		font-weight: 400;
		line-height: 1.5;

		sub {
			bottom:0;
		}
	}

	.data--large {
		font-size: 34px;
		line-height: 1.4;

		sub {
			font-size: 24px;
			bottom:0;
		}
	}

	.stock-industry {
		margin-bottom:15px;
		margin-top: 5px;
	}
}





/*           NEWS            */


.stock-info--news {
	h2 {
		margin-bottom: 0px;
	}

	.news__slider {
		width: calc(100%-30px);
	    list-style-type: none;
	    margin: 0 auto;
	    white-space: nowrap;
	    overflow: hidden;
	    overflow-x: scroll;

		li {
			display: inline-block;
			margin-right:15px;

			.headline {
				font-weight: 400;
				font-size: 20px;
				line-height: 1.4;
				margin-bottom: 5px;
				font-family: 'Open Sans', sans-serif;
				text-align: left;
				opacity: 0.8;
				white-space: normal;
			}

			.source {
				text-align: left;
				font-size: 15px;
				font-weight: 500;
				line-height: 35px;
			}

			.date {
				text-align: right;
				font-size: 13px;
				font-weight: 400;
				font-style: italic;
				line-height: 35px;
			}
		}

		.news__pagination {
			p {
				font-size: 16px;
				font-weight: 500;

				span {
					font-weight: 600;
				}
			}
		}
	}
}





/*                                                     */
/*             CONTAINER -- PGR BREAKDOWN              */
/*                                                     */



.stock-info--overall-breakdown {
	.rating {
		font-size: 36px;
		font-weight: 500;
		margin-bottom: 25px;
		line-height: 1.3;
		margin-top: 10px;

		span {
			font-weight: 700;
		}
	}
	h1 {
		margin-bottom: 25px;
	}
}



.stock-info--breakdown {
	h1 {
		margin: 25px 0 20px;
		color:#484848;
	}
}









/*           DATA TABLE            */




.data-table {
	table {
		color: #484848;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 25px;

		th {
			text-align: center;
			font-size: 17px;
			line-height: 2;
			font-weight: 500;
			border-bottom: 2px solid #f0f0f0;
		}
		td {
			padding:10px 0 5px;
			min-width: 50px;
		}
		.data {
			text-align: right;
			font-weight: 600;
			font-size: 15px;
			line-height: 20px;
		}
		.label {
			text-align: left;
			font-size: 12px;
			white-space: nowrap;
			font-weight: 500;
			line-height: 20px;
		}
	}
	.table--short-interest {
		td {
			font-weight: 600;
			line-height: 1.3;
		}
	}
}


