@import 'variables';




.component--mystocks {
	background-color: #ffffff;
	padding:0;
	
	.contents {
	
	}

	.col-headers {
		margin-top:10px;

		.sort {
			p {
				display:inline-block;
			}
		}
		.sorted {
			p {
				font-weight: 500;
				color:#ffffff;
				background-color: #666666;
				border-radius: 30px;
				display: inline-block;
				padding:3px 8px 1px;
			}
		}
	}
}
.stocklist__overview--green {
  background: linear-gradient(to left, rgba(0,204,0,.93) 20%,rgba(0,170,119,.93) 100%);

	.list-name {
	  	color:#00C04E;
	}
}
.stocklist__overview--red {
  background: linear-gradient(to left, rgba(255,50,50,0.9) 20%,rgba(170,0,119,0.9) 100%);

  	.list-name {
  		color:#FD001F;
	}
}

.component--stockview-open {
	position: absolute;
}