@import 'variablesPulse';



.component--mystocks {
	background-color: #ffffff;
	padding:0;
	z-index: 10;
	position:fixed;
	left:0;
	top:90px;

	@media screen AND (max-width: 575px) {
	    padding-bottom: 220px;
	}

	@media screen AND (min-width:768px) {
		z-index: 8;
	}
	@media screen AND (max-width:991px) {
		top:45px;
	}
}

.component--stockview__container {
	position:fixed;
	right:0;
	z-index: 9;
}

.component--stockview__container.visible {
	z-index: 11;
}
