@import 'variables';


.dashboard__panel.dashboard__panel--bearpick {
  height: 300px;
  border:2px solid #ffffff;
  border-radius: 12px;

  	.dash-head {
    	height: 40px;
    	background-image: linear-gradient(135deg, #EC2E2E 0%, #A01861 100%);

	    h4 {
	      	margin: 0 10px 0 10px;
	      	line-height: 40px;
	      	height: 40px;
	      	font-weight: 700;
	      	font-size: 20px;
	      	color: #ffffff;
	      	white-space: nowrap;
	    }

	    .dash-head__button {
	    	font-weight: 400;
	    	font-size: 11px;
	    	height: 30px;
	    	padding: 6px 15px;
	    	margin-top: 5px;
	    	color: #ffffff;
	    	border-left: 4px dotted rgba(255,255,255,0.5);

	      	i {
	        	font-size: 16px;
	      	}

	      	span {
	        	margin-left: 3px;
	      	}
	    }
  	}

	.dash-body.dash-body--bearpick {
		padding: 25px 0px 0;

		.bearpick__container {
			padding:0 10px;

			.ticker-info {
				width: 100%;
				margin-bottom:20px;

				.ticker {
					font-size: 30px;
					font-weight: 800;
					line-height: 1;
					margin-bottom:8px;
					white-space: nowrap;
					cursor:pointer;

					.rating {
						width: auto;
						height: 23px;
						display: inline-block;
						margin: -6px 4px 0 0;
					}
				}

				.company-name {
					font-size: 17px;
					font-weight: 400;
					line-height: 1.5;
				    white-space: nowrap;
				    text-overflow: ellipsis;
				    overflow: hidden;
				    color: $font-color--MD;
				}
			}

			.price-data {
				width: 100%;
				height: 70px;
				text-align: left;
				margin-bottom:40px;

				.change {
				    font-size: 18px;
				    font-weight: 400;
				    line-height: 32px;

				    span {
				    	margin-right:30px;

				    	&:last-child {
				    		margin-right:0;
				    	}
				    }
				}

				.price {
					font-size: 28px;
				    font-weight: 700;
				    line-height: 32px;
				    margin-bottom: 5px;
				}
			}

			.link__see-more {
				position: absolute;
				bottom:5px;

				a {
					color: $link-blue;
					cursor: pointer;
					font-weight: 600;
					font-size: 14px;
					line-height: 1;

				    &:hover {
				       	color: $link-blue;
				    }
				}
			}

			.quick-view__pgr {
				.pgr__title {
			        font-weight: 600;
			        font-size: 10px;
			        color: $font-color--MD;
			        text-transform: uppercase;
			        line-height: 1;
			        white-space: nowrap;
			        margin-bottom:2px;
			        margin-top:-7px;
		        }

		        .pgr__text {
		            font-weight: 700;
		            font-size: 20px;
		            text-transform: uppercase;
		            white-space: nowrap;
		            line-height: 1.3;
		        }

		        .pgr__sliders {
		          	margin-top: 10px;

		          	li {
		           		margin: 2px 0 5px;

		            	.sliderBar-container {
							.slider-veryBullish {
							  	margin-left: -35px;
							}
		              		.pgr__label {
		                		font-weight: 600;
		                		font-size: 11px;
		                		color: $font-color--MD;
		                		text-transform: uppercase;
		                		margin: -1px 2px 2px;
		              		}
		            	}
		          	}
		        }
		    }
		}
	}
}
