@import 'variablesPulse';



.component--marketbeat {

	.section--masthead {
		padding:100px 0 0 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% auto;

		h2 {
			color:#ffffff;
			display:block;
			background-color: rgba(0,0,0,0.7);
			padding: 10px 0 6px;
			margin:0;
			text-align: center;
			width: 100%;
			opacity: 1;

			@media screen AND (min-width: 992px) {
				font-size: 42px;
				font-weight: 300;
			}
		}
	}

	.divider__long {
		margin: 0px auto;
	}

	.masthead--featured {
		background-image: url("../../../../assets/imgs/image__MI--masthead.png");
	}

	.section--author {
		text-align: center;
		font-size: 18px;
		font-weight: 600;
		line-height: 1;
		padding:15px 0 15px;

		@media screen AND (min-width: 992px) {
			padding:20px 0 15px;
			font-size: 24px;
		}
	}

	.section--date-select {
		margin-top: 10px;

		.btn-group {
			margin-top: 8px;
			margin-bottom: 10px;
			cursor: pointer;

			.btn {
			    font-weight: 600;
			    text-align: center;
			    border: $line--button;
			    padding: 4px 15px 1px 20px;
			    border-radius: 40px;
			    text-transform: lowercase;

			    &::first-letter {
			    	text-transform: capitalize;
			    }
			}
			.btn-primary {
				cursor: pointer;
		  		background-color: #ffffff;
			    border-color: $link-blue;
			    font-size: 27px;
			    line-height: 1;
				color: $link-blue;
				box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
			}
			.dropdown-toggle {
				min-width: 150px;
				&::after {
					vertical-align:middle;
			    }
			}
		}
		.dropdown-menu {
		    position: absolute;
		    z-index: 1000;
		    float: left;
		    min-width: 160px;
		    padding: 5px 0;
		    margin: 0;
		    font-size: 22px;
		    color: $font-color;
		    width: 100%;
		    overflow: hidden;
		    text-align: center;
		    list-style: none;
		    background-color: rgba(255,255,255, 0.96);
		    background-clip: padding-box;
		    border: 0px solid #f0f0f0;
		    border-top:0px solid #1199ff;
		    border-radius: 8px;
			box-shadow: 0 6px 20px rgba(50, 50, 50, 0.25);

			.dropdown-item {
				cursor: pointer;
				font-weight: 600;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				padding: 0.25rem 10px;

				&:hover {
					background-color: rgba(17,153,255, 0.1);
				}
			}
		}
	}

	.section--article {
		.article__body {
			height: 50vh;
			overflow: hidden;
			margin-top: 15px;
			color: $font-color;
			position: relative;
			padding-bottom: 20px;

			.article {
				/*  styling done on app.component.scss  */
			}

			&::after {
				content: "…";
				position: absolute;
				bottom: -5px;
				left:0;
				right:0;
				width: 100%;
				text-align: center;
				font-size: 32px;
				opacity: 0.6;
			}
		}
		.article__body.opened {
			overflow:visible;
			height: 100%;

			&::after {
				content: "•";
			}
		}
		.article__read-more {
			display: block;
			font-size: 13px;
			color: $link-blue;
			font-weight: 600;
			margin: 5px 0 0px;
			text-align: center;
		}
	}
}







