
@import 'variables';



.component--marketbeat {

	.section--masthead {
		padding:100px 0 0 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% auto;

		h2 {
			color:#ffffff;
			display:block;
			background-color: rgba(0,0,0,0.7);
			padding: 10px 0 6px;
			margin:0;
			text-align: center;
			width: 100%;
			opacity: 1;

			@media screen AND (min-width: 992px) {
				font-size: 42px;
				font-weight: 300;
			}
		}
	}

	.masthead--featured {
		background-image: url("/assets/imgs/image__MI--masthead.png");
	}

	.masthead--education {
		background-image: url("/assets/imgs/image__EDU--masthead.png");
		padding:100px 0 0 0;
		margin-top: 25px;
	}

	.section--author {
		text-align: center;
		font-size: 18px;
		font-weight: 600;
		line-height: 1;
		padding:15px 0 15px;

		@media screen AND (min-width: 992px) {
			padding:20px 0 15px;
			font-size: 24px;
		}
	}

	.section--date-select {
		margin-top: 10px;

		.btn-group {
			margin-top: 8px;
			margin-bottom: 10px;
			cursor: pointer;

			.btn {
			    font-weight: 600;
			    text-align: center;
			    border: 3px solid #1199ff;
			    padding: 4px 15px 1px 20px;
			    border-radius: 40px;
			}
			.btn-primary {
				cursor: pointer;
		  		background-color: #ffffff;
			    border-color: #1199ff;
			    font-size: 27px;
			    line-height: 1;
				color: #1199ff;
				box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
			}
			.dropdown-toggle {
				min-width: 150px;
				&::after {
					vertical-align:middle;
			    }
			}
		}
		.dropdown-menu {
		    position: absolute;
		    z-index: 1000;
		    float: left;
		    min-width: 160px;
		    padding: 5px 0;
		    margin: 0;
		    font-size: 22px;
		    color: #484848;
		    width: 100%;
		    overflow: hidden;
		    text-align: center;
		    list-style: none;
		    background-color: rgba(255,255,255, 0.96);
		    background-clip: padding-box;
		    border: 0px solid #f0f0f0;
		    border-top:0px solid #1199ff;
		    border-radius: 8px;
			box-shadow: 0 6px 20px rgba(50, 50, 50, 0.25);

			.dropdown-item {
				cursor: pointer;
				font-weight: 600;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				padding: 0.25rem 10px;

				&:hover {
					background-color: rgba(17,153,255, 0.1);
				}
			}
		}
	}

	.section--article {
		.article__body {
			height: 80vh;
			overflow: hidden;
			margin-top: 15px;
			color: #484848;
			position: relative;
			padding-bottom: 10px;

			.article {
				font-family: 'Open Sans', sans-serif;
				color: #484848;
				font-size: 16px;
				line-height: 1.5;
				text-align: left;
				margin:10px 0 15px;

				ul {
				    list-style: disc;
				    padding: 0 2em 2em;
				}
				h1 {
					font-weight: 600;
					font-size: 20px;
					line-height: 1.4;
					margin-top:25px;
					margin-bottom: 15px;
					text-align: left;
					opacity: 0.8;
					white-space: normal;
					color:#484848;
				}
				a {
					text-align: center;
					font-size: 14px;
					line-height: 1.5;
				}
				img {
					width: 100%;
					height: auto;
					margin: 20px auto;
				}
				span {
					font-family: 'Open Sans', sans-serif;
					color: #484848;
					font-size: 16px;
					line-height: 1.5;
				}
			}

			&::after {
				content: "…";
				position: absolute;
				bottom: -23px;
				left:0;
				right:0;
				width: 100%;
				text-align: center;
				font-size: 32px;
				opacity: 0.6;
			}
		}
		.article__body.opened {
			overflow:visible;
		}
		.article__read-more {
			display: block;
			font-size: 13px;
			color: #1199FF;
			font-weight: 700;
			margin: 25px 0 30px;
			text-align: center;
		}
	}
	.education--article {
		padding-left:10px;

		.article__read-more {
			margin:0;
			text-align: left;
		}
		.article__headline {
			font-weight: 600;
			font-size: 16px;
			line-height: 1.4;
			font-family: 'Open Sans', sans-serif;
			text-align: left;
			opacity: 0.8;
			white-space: normal;
			color:#484848;
		}
	}
	.article__thumbnail {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% auto;
	}
	.educational__entry {
		margin: 15px 0 20px;
	}
}







