@import 'variablesPulse';




.component--marketbeat {
	padding:0;

	.article__masthead {
		padding: 60px 3% 20px;
	    overflow: hidden;
	    position: relative;
	    background-image: url('/../../../../assets/imgs/BG__bearish-insights__container.png');
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	    border-left: 1px solid #ddd;

		.masthead__head {
			margin:10px 0 25px;

		    .masthead__logo {
			    img {
			        max-width: 300px;
			        width: 100%;
			        height: auto;
			        margin:0 10px;
			    }
		    }
		    .masthead__date {
		      	text-align: center;

				.btn-group {
					margin-top: 35px;
					margin-bottom: 5px;
					cursor: pointer;
					z-index: 20;
					min-width: 200px;

					.btn-primary {
						text-align: center;
					    border: 0;
					    padding: 10px 48px 5px 10px;
					    border-radius: 30px;
					    border-bottom:0px solid rgba(255,255,255, 0.75);
						cursor: pointer;
				  		background-color: transparent;
					    font-size: 26px;
					    line-height: 1;
						color: #ffffff;
						box-shadow: inset 0 0px 30px 3px rgba(0, 0, 0, 0.52);
						z-index: 20;
					    font-weight: 600;
					}
					.dropdown-toggle {
						min-width: 200px;
					    &:after {
							content:  none;
					    }
					}
					&:after {
					    font-family: "Font Awesome 5 Pro";
					    content: "\f13a ";
					    display: inline-block;
					    position: absolute;
					    right: 10px;
					    top: 2px;
					    color:#ffffff;
					    opacity:0.85;
					    font-size: 24px;
					    vertical-align: middle;
					    font-weight: 300;
					}
				}
				.dropdown-menu {
				    position: absolute;
				    z-index: 10;
				    float: left;
				    min-width: 200px;
				    padding: 15px 0 5px;
				    margin: 5px auto 0px;
				    font-size: 20px;
				    color: $font-color;
				    width: 100%;
				    overflow: hidden;
				    text-align: center;
				    list-style: none;
				    background-color: rgba(255,255,255, 0.98);
				    background-clip: padding-box;
				    border: 2px solid #ffffff;
				    border-radius: 10px;
					box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

					.label {
						padding-bottom: 10px;
						border-bottom:1px solid #ddd;
						margin: 0 10px 10px;
					}

					.dropdown-item {
						cursor: pointer;
						font-weight: 600;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						padding: 10px 10px;
						border-top:0px solid #fff;

						&:hover {
							background-color: rgba(0,0,0, 0.05);
						}
					}
				}
		    }
		    .author {
				margin-top: 15px;

				p {
					color: #ffffff;
					font-size: 14px;
					font-weight: 600;
					line-height: 1.5;
				}	
			}
		    .masthead__button {
		      	font-weight: 400;
		      	font-size: 26px;
		      	height: 45px;
		      	padding: 11px 15px;
		      	color: #ffffff;

		      	i {
		        	font-size: 20px;
		      	}

		      	span {
		        	margin-left: 3px;
		      	}
		    }
		}

		.masthead__body {
			.headline {

				h1 {
					color: #ffffff;
					font-size: 38px;
					font-weight: 400;
					line-height: 1.3;
				}
			}
		}

		.link__read-all {
			margin-top: 30px;
			color:#1199ff;
			font-weight: 400;
			font-size: 20px;
			line-height: 1.3;
			cursor:pointer;
		}
	}

	.article__body {
		.featured__article {
			.article__wrapper {
				.article {
					color: #484848;
    				line-height: 1.5;
    				font-size: 18px;

    				h1 {
						color: $font-color;
	    				line-height: 1.5;
	    				font-size: 32px;
    				}

    				ul {
    					list-style-type: disc;
    					margin: 20px 20px 35px;
    					padding: 0;
    					font-size: 18px;

    					li {

    					}
    				}
				}
			}
		}
	}
/*	.section--masthead {
		padding:100px 0 0 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% auto;

		@media screen AND (min-width: 992px) {
			padding:150px 0 0 0;
		}

		h2 {
			color:#ffffff;
			display:block;
			background-color: rgba(0,0,0,0.7);
			padding: 10px 0 6px;
			margin:0;
			text-align: center;
			width: 100%;
			opacity: 1;

			@media screen AND (min-width: 992px) {
				font-size: 44px;
				font-weight: 400;
			}
		}
	}

	.masthead--featured {
		background-image: url("../../../../assets/imgs/image__MI--masthead.png");
	}

	.anchor__top {
		position: fixed;
		right: 5px;
		bottom:20%;
		background-color: rgba(0, 0, 0, 0.05);
		border: 2px solid #ffffff;
		border-radius: 30px;
		text-align: center;
		padding:10px;
		cursor: pointer;

		p {
			color:$font-color;
			font-size: 18px;
			font-weight: 700;
			line-height: 28px;
			cursor: pointer;
		}
	}

	.section--author {
		text-align: center;
		font-size: 17px;
		font-weight: 600;
		line-height: 1;
		padding:8px 0 15px;
		color: $font-color--mid;

		@media screen AND (min-width: 992px) {
			padding:10px 0 20px;
			font-size: 24px;
		}
	}

	.section--date-select {

		.btn-group {
			margin-top: 0px;
			margin-bottom: 5px;
			cursor: pointer;

			.btn {
			    font-weight: 600;
			    text-align: center;
			    border: #ffffff;
			    padding: 10px 25px 7px 30px;
			    font-size: 26px;
			    border-radius: 40px;
			    cursor: pointer;
			}
			.btn-primary {
		  		background-color: $font-color;
			    border-color: #ffffff;
			    font-size: 25px;
			    line-height: 1;
				color: #FFFFFF;
				text-transform: uppercase;
				box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
				z-index: 10;
			}
			.dropdown-toggle {
				min-width: 200px;

				&::after {
					vertical-align:middle;
				}
			}
		}
		.dropdown-menu {
		    position: absolute;
		    cursor: pointer;
		    z-index: 5;
		    float: left;
		    min-width: 100%;
		    padding: 40px 0 5px;
		    margin: -40px 0 0;
		    font-size: 24px;
		    color: $font-color;
		    width: 100%;
		    text-align: center;
		    list-style: none;
		    background-color: rgba(255,255,255, 0.92);
		    background-clip: padding-box;
		    border: 2px solid #ffffff;
		    border-radius: 20px;
			box-shadow: 0 6px 40px rgba(50, 50, 50, 0.26);

			.dropdown-item {
				font-weight: 600;
			}
		}
	}

	.section--article {
		position: relative;

		.article__body {
			height: 47vh;
			overflow: hidden;
			margin-top: 15px;
			color: $font-color;
			padding-bottom: 20px;

			.article {
				/*  styling done on app.component.scss  
			}

			@media screen AND (min-width: 576px) {
				height: 52vh;
			}
		}
		.article__body.opened {
			overflow:visible;
			height: 100%;

			@media screen AND (max-width:576px) {
				margin-top:40px;
			}
		}
		.article__read-more {
			display: block;
			font-size: 13px;
			color: $link-blue;
			font-weight: 700;
			margin: 5px 0 15px;
			text-align: center;
		}
	} */
}







