
@import 'variables';


.post-head.post-head--userlist {
    h4 {

      a {
        font-weight: 300;
        opacity: 0.8;
        display: inline-block;

        &:hover {
          	color: #ffffff;
         	text-decoration: underline;
          	font-weight: 300;
          	opacity: 1;
        	}
      	}

      	a.active {
        	font-weight: 600;
        	opacity: 1;

        	&:hover {
          	color: #ffffff;
          	text-decoration: none;
        	}
      	}

      	.divider-toggle {
        	font-weight: 600;
        	font-size: 24px;
        	line-height: 0.85;
        	display: inline-block;
        	margin:0 2px;
        	opacity: 0.3;
      	}
    }

    .post-head__button {
      	font-weight: 400;
      	font-size: 11px;
      	height: 37px;
      	padding: 11px 8px;

      	i {
    		font-size: 16px;
      	}

      	&:hover {
       		background-color: rgba(255,255,255,0.2);
      	}

      	span {
        	margin-left:0px;
      	}
    }
}