
@import 'variables';

.post-head.post-head--userlist {

    h4 {

      a {
        font-weight: 300;
        opacity: 0.8;
        display: inline-block;

        &:hover {
          	color: #ffffff;
         	text-decoration: underline;
          	font-weight: 300;
          	opacity: 1;
        	}
      	}

      	a.active {
        	font-weight: 600;
        	opacity: 1;

        	&:hover {
          	color: #ffffff;
          	text-decoration: none;
        	}
      	}

      	.divider-toggle {
        	font-weight: 600;
        	font-size: 24px;
        	line-height: 0.85;
        	display: inline-block;
        	margin:0 2px;
        	opacity: 0.3;
      	}
    }

    .post-head__button {
      	font-weight: 400;
      	font-size: 11px;
      	height: 37px;
      	padding: 11px 8px !important;

      	i {
    		  font-size: 16px;
      	}

      	&:hover {
       		background-color: rgba(255,255,255,0.2);
      	}

      	span {
        	margin-left:0px;
      	}

        span.show {

          @media screen and (max-width: 1410px) and (min-width: 1240px) {
            display: none;
          }
          @media screen and (max-width: 1239px) and (min-width: 799px) {
            display: none;
          }
        }

        span.hide {
          display: none;

          @media screen and (max-width: 1410px) and (min-width: 1240px) {
            display: inline-block;
          }
          @media screen and (max-width: 1258px) and (min-width: 1200px) {
            display: none;
          }
          @media screen and (max-width: 1199px) and (min-width: 1047px) {
            display: inline-block;
          }
          @media screen and (max-width: 1046px) and (min-width: 992px) {
            display: none;
          }
          @media screen and (max-width: 991px) and (min-width: 800px) {
            display: inline-block;
          }
        }
    }
}
