@import 'variables';





.stock-view__iframe {
	width: 100%;
	height:100vh;
	padding-top: 20px;
	padding-bottom:150px;
}

//.scroll-wrapper {
//  -webkit-overflow-scrolling: touch !important;
//  overflow-y: scroll !important;
//}
//
//html, body { -webkit-transform: translate3d(0, 0, 0); }
