/*  Colors  */


$veryBullish-green: #24A300;
$bullish-green: #7ED321;
$neutral-yellow: #ffbe00;
$bearish-red: #FD4500;
$veryBearish-red: #EB001C;


$upChange: #24A300;
$downChange: #EB001C;

$strong: #24A300;
$weak: #EB001C;


$link-blue: #1199ff;
$link-grey: #7C828F;


$list-color--green: #2FB71A;
$list-color--red: #CF263E;
$list-color--purple: #7A00A1;
$list-color--orange: #F3823C;
$list-color--blue: #0A5FFF;


/*  Fonts  */


$font-stack: 'Open Sans', Helvetica, sans-serif;


$font-color: #454D5F;
$font-color--MD: #7C828F;
$font-color--LT: #DBDCE0;
$font-color--subhead: #7C828F;
$font-color--Blue: #003366;





/*  Backgrounds  */


$background--LT: #F8F8F8;
$background--LT2: #efefef;
$background--LT3: #DBDCE0;
$background--LT-hover: #eaeaea;
$background--MD: #7C828F;
$background--DK: #313540;
$background--LT-blue: #EFF8FF;



/*  Gradients  */






/*  Lines & Borders  */


$border-line--W: 3px solid #FFFFFF;

$border-line--LT: 3px solid #f8f8f8;
$border-line--LT2: 1px solid #eaeaea;
$border-line--MD: 1px solid #7C828F;

$border-dashed--W: 1px solid rgba(0,0,0,0.4);
$border-dashed--LT: 1px solid rgba(0,0,0,0.4);
$border-dashed--MD: 3px solid #eaeaea;

$chart-border--LT: 1px solid #dddddd;





$zindex-dropdown-backdrop:  990 !default;
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-fixed:             1030 !default;
$zindex-sticky:            1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;










