/*  Colors  */


$veryBullish-green: #24A300;
$bullish-green: #7ED321;
$neutral-yellow: #FF9900;
$bearish-red: #FD4500;
$veryBearish-red: #EB001C;


$upChange: #24A300;
$downChange: #EB001C;

$strong: #24A300;
$weak: #EB001C;


$link-blue: #1199ff;
$link-grey: #B5B8BF;


$list-color--green: #2FB71A;
$list-color--red: #CF263E;
$list-color--purple: #7A00A1;
$list-color--orange: #F3823C;
$list-color--blue: #0A5FFF;


/*  Fonts  */


$font-stack: 'Open Sans', Helvetica, sans-serif;


$font-color: #454D5F;
$font-color--MD: #B5B8BF;
$font-color--LT: #DBDCE0;
$font-color--subhead: #7C828F;
$font-color--Blue: #003366;





/*  Backgrounds  */


$background--LT: #F8F8F9;
$background--LT2: #EBEBED;
$background--LT3: #DBDCE0;
$background--LT-hover: #EBEBED;
$background--MD: #7C828F;
$background--MD-hover: #7C828F;
$background--DK: #454D5F;
$background--DK2: #313540;
$background--LT-blue: #EFF8FF;
$background--sidebar: #454D5F;





/*  Lines & Borders  */


$border-line--W: 2px solid #FFFFFF;

$border-line--LT: 1px solid #EBEBED;
$border-line--MD: 1px solid #7C828F;

$border-dashed--LT: 1px dashed #EBEBED;
$border-dashed--MD: 1px dashed #7C828F;

$chart-border--LT: 1px solid #dddddd;





$zindex-dropdown-backdrop:  990 !default;
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-fixed:             1030 !default;
$zindex-sticky:            1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;










