@import 'variables';

.post-body--bearpick {
	padding: 5px 0px;

	.row {
		padding:5px 0;
	}

	.rating {
		width: 50px;
		height: 26px;
		display: inline-block;
		float: left;
		margin-right: 10px;
		margin-top: 3px;
	}

	.ticker {
		display: inline-block;
		float: left;
		font-size: 32px;
		font-weight: 800;
		line-height: 1;
	}

	.data {
		display: inline-block;
		float: right;
		font-size: 16px;
		font-weight: 600;
		line-height: 32px;
		margin-left:0px;
		vertical-align: middle;
	}

	.data--change {
		margin-left:30px;
	}

	.company-name {
		font-size: 21px;
		font-weight: 400;
		line-height: 1;
		white-space: nowrap;
	}

	.industry-name {
		font-size: 14px;
		font-weight: 600;
		line-height: 18px;
		color: $font-color--subhead;
		float: right;
		font-style: italic;
	}

	.link__see-more {
		font-weight: 600;
		font-size: 14px;
		text-align: center;

		a {
			color: $link-blue;
			line-height: 1;
			cursor: pointer;

		    &:hover {
		       	text-decoration:underline;
		       	color: $link-blue;
		    }
		}
	}
}