@import 'variablesPulse';

.market-summary__contents {
  width: 100%;
  height: 45px;
  padding:1px 0 0;
  white-space: nowrap;
  overflow: hidden;

  .indice {
    display: inline-block;
    float: right;
    font-weight: 400;
    font-size: 18px;
    color: $font-color;
    line-height: 45px;
    margin-left: 2%;
    margin-right: 0;

    b {
      font-weight: 700;
    }

    span {
      margin-right: 8px;
      
      .market-data {
        font-weight: 600;

        span {
          margin-right:5px;

          span {
            margin-right:0px;
          }

          &:last-child {
            margin-right:0px;
          }
        }
        .last-price {
          font-weight:700;

          @media screen AND (max-width: 992px) {
            display: none;
          }
        }
        .change-percent {

          @media screen AND (max-width: 1199px) {
            display: none;
          }

        }
        .change-price {
          @media screen AND (max-width: 1525px) {
            display: none;
          }
        }
      }

      i {
      	vertical-align:middle;
      }
    }

    &:last-child {
      margin-left: 0px;
    }
  }
}